
.cards {
  padding: 0 60px;
  a {
    text-decoration: none;
    color: $black;

    &:hover {
      .card {
        box-shadow: $shadow-hover;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    
    padding: 0px 5px;
  }
  .col-12, .col-md-6 {
    margin-bottom: 40px;
  }

  .card {
    height: 100%;
    border-radius: 0;
    box-shadow: $shadow;
    border: none;
    transition: $transition;
    img {
      border-radius: 0;
    }

    &-body {
      small {
        font-size: 0.7rem;
        color: $grey;
        text-transform: uppercase;
        font-weight: bold;
      }

      .card-text {
        margin-bottom: 10px;
      }
    }
  }
}
