header {
  padding: 80px 0 0 0;
  @include media-breakpoint-down(md) {
    padding: 20px 0 0 0;
  }
  p {
    font-family: $font-sans-serif;
    color: $dark-grey;
    line-height: 28px;
    font-size: 20px;
    font-weight: 200;
  }
}
