<div
  class="row hero hero_textbox"
  style="background-image: url('assets/images/demo/fields.png')"
>
  <div class="mobile-photo" class="col-sm-12">
    <img src="assets/images/demo/fields.png" alt="Fields" />
  </div>
  <div class="col-sm-12 col-lg-8 textbox">
    <div class="row">
      <div class="col-sm-12 text">
        <small class="tag">Nyhed</small>
        <h1>
          Ny landsbypulje skal styrke indsatsen for nedrivning og
          områdefornyelse
        </h1>
        <p>
          Regeringen (V, LA og K) og Dansk Folkeparti har indgået aftale om
          kriterierne for Landsbypuljen, der skal styrke udviklingen i
          landsbyerne og det åbne land. Med aftalen udvides gruppen af
          ansøgningsberettigede kommuner, ligesom det sikres, at midlerne i
          Landsbypuljen fordeles til kommuner med det største behov.
        </p>
        <a class="btn_link" href="#">Læs mere</a>
      </div>
    </div>
  </div>
</div>
