<div
  class="row hero hero_textbox image"
  style="background-image: url('./assets/images/demo/hall.png')"
>
  <div class="mobile-photo" class="col-sm-12">
    <img src="./assets/images/demo/hall.png" alt="Fields" />
  </div>
  <div class="col-sm-12 col-lg-8 textbox">
    <div class="row row-eq-height">
      <div class="col-sm-12 col-lg-6 text">
        <small class="tag">Ministeren</small>
        <h1>Ole Birk Olesen</h1>
        <p>
          Ole Birk Olesen har været Transport-, bygnings- og boligminister siden
          28. november 2016 og han har været medlem af Folketinget siden 15.
          september 2011. Han er medlem af Liberal Alliance, og har tidligere
          arbejdet som journalist og redaktør på blandt andet Berlingske
          Tidende.
        </p>
        <a class="btn_link" href="#">Læs mere</a>
      </div>
      <div class="col-sm-12 col-lg-6 img">
            <img src="./assets/images/demo/ole.png" alt="" />
          </div>
    </div>

    
  </div>
</div>
