<div class="row">
  <div class="col-md-12">
    <div class="headline_section">
      <h2>Seneste nyheder</h2>
      <a class="btn_link" href="#">Se alle nyheder</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!--=include ../../components/news/lastest_news.html -->
  </div>
</div>
