<div class="row row-eq-height">
    <div class="col-md-4">
        <!--=include ../../components/box/box_text.html -->
    </div>
    <div class="col-md-4">
        <!--=include ../../components/lists/links_list_bg-c.html -->
    </div>
    <div class="col-md-4">
        <!--=include ../../components/lists/article_list_bg-c.html -->
    </div>
</div>
