<div class="row">
    <div class="col-md-4">
        <!--=include ../../components/box/box_video.html -->
    </div>
    <div class="col-md-4">
        <!--=include ../../components/box/box_image.html -->
    </div>
    <div class="col-md-4">
        <!--=include ../../components/lists/links_list_bg-c.html -->
    </div>
</div>
