.hero {
    background-color: $white;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px 120px;
    box-sizing: border-box;
/*     margin-right: -15px;
    margin-left: -15px; */
    @include media-breakpoint-down(md) {
        padding: 20px 40px;
    }
    @include media-breakpoint-down(sm) {
        background-image: none!important;
        padding: 0px;
    }

    .mobile-photo {
        display: none;
        @include media-breakpoint-down(sm) {
            display: inline-block;
            height: 300px;
            width: 100%;
            margin-bottom: -200px;
        }

        img {
            @include media-breakpoint-down(sm) {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }

        }
    }
    
    &_textbox {
        display: flex;
        position: relative;
        @include media-breakpoint-down(sm) {
            background-image: none!important;
            padding: 0px;
        }

        .textbox {
            display: flex;
            background-color: $white;
            box-sizing: border-box;
            padding: 40px;
            max-width: 550px;
            @include media-breakpoint-down(sm) {
                margin: 0 40px;
                padding: 30px;
                box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.03);

                .text {
                    order: 2;
                }
                .img {
                    order: 1;
                    margin-bottom: 20px;
                }
            }

            .row {
                width: 100%;
            }

        }

        &.image {
            .textbox {
                max-width: 700px;
            }
        }
    }
}