.article-list {
  .btn_link {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      border-bottom: 1px solid $dark-white;
      width: 80%;
      margin-bottom: 25px;
      &:last-of-type {
        border: none;
      }

      a {
        line-height: 28px;
        font-size: 18px;
        color: $black;
        font-weight: 600;

        &:hover {
            text-decoration: none;
        }
        p {
          margin-bottom: 25px;
        }
        .date_tag {
          margin: 0;
        }
      }
    }
  }
  &.bg-color {
    padding: 30px;
    box-shadow: $shadow;
  }

  .btn_list_link {
    position: relative;
    padding-left: 20px;

    &:before {
      top: 3px;
    }
  }
}

.col-md-4 {
  .article-list {
    min-height: 500px;
    h2 {
      line-height: 22px;
      font-size: 16px;
      text-transform: uppercase;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 15px;
      margin-bottom: 30px;
      font-weight: 600;
    }
  }
}
