.download-list {
  background-color: $white;
  padding: 40px;
  box-shadow: $shadow;
  height: 100%;
  min-height: 500px;

  @include media-breakpoint-down(md) {
    padding: 30px;

    h3 {
      margin-bottom: 15px;
    }

    padding: 10px 15px;
    margin-bottom: 60px;
  }

  .headline {
    border-bottom: 1px solid $light-grey;
    text-transform: uppercase;
  }

  .liste {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    .item {
      display: flex;
      flex-direction: column;
      width: 45%;
      padding: 20px 20px 0 20px;
      text-decoration: none;
      margin-right: 5%;
      border-bottom: 1px solid $dark-white;

      @include media-breakpoint-down(md) {
        width: 100%;
        padding: 10px 0;
      }

      small {
        color: $grey;
        margin-bottom: 5px;
      }

      p {
        font-weight: 600;
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;

        a {
          font-weight: 600;
          color: $dark-blue;
          transition: $transition;
          text-transform: uppercase;
          line-height: 22px;
          font-size: 11px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
