.link_liste {
  padding: 20px 0px;
  height: 100%;
  min-height: 350px;
  @include media-breakpoint-down(md) {
    margin: 0;
    padding: 0 0 40px 0;
    min-height: auto;
  }

  h3 {
    text-transform: uppercase;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-weight: 600;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      position: relative;
      margin-bottom: 15px;
      padding-left: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &.bg-color {
    padding: 30px;
    background: $white;
    box-shadow: $shadow;
  }
}
