.filter {
  display: flex;
  justify-content: space-between;
}

.list__months {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 40px;
  flex-wrap: wrap;
  
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-right: 0;
  }

  &__item {
    background-color: $white;
    border: 1px solid $dark-white;
    height: 40px;
    padding: 6px 10px;
    min-width: 50px;
    text-align: center;
    color: $grey;

    a {
      width: 8.333%;
      text-align: center;
      color: $black;
      font-size: 15px;
      cursor: pointer;
      
      transition: all 0.2s ease-in-out;
    }

    &:focus, &:hover {
      background-color: $blue;
      a {
        color: $white;
      }
    }

    
  }
}