﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;
@using Newtonsoft.Json.Linq;

@model  LeBlenderModel

@{
    var item = Model.Items.FirstOrDefault();
    string header = item.GetValue<string>("header");
    var link = item.GetValue<RelatedLinks>("link").FirstOrDefault();
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);

    var date = string.Empty;
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.ToString();
    IPublishedContent model = item.GetValue<IPublishedContent>("articlePicker");



}
@{


    if (model != null)
    {
        var articles = model.Descendants().Where(x => x.DocumentTypeAlias == "articlePage");
        var ItemsToShow = item.GetValue<int>("ItemsToShow");
        if (ItemsToShow == 0)
        {
            ItemsToShow = 6;
        }

        <div class="article-list">
            <h2>@header</h2>
            <a href="@(link != null ? link.Link : string.Empty)" class="btn_link">@(link != null ? link.Caption : string.Empty)</a>

            <ul>
                @{
                    var SortedList = articles.OrderByDescending(x => x.GetPropertyValue("date"));
                    if (SortedList != null)
                    {
                        foreach (var article1 in SortedList.Take(ItemsToShow))
                        {
                            date = article1.GetPropertyValue<DateTime>("date").ToString("dd.MMMM.yyy");

                            <li>
                                <a href="@article1.Url">
                                    <small class="date_tag">@date</small>
                                    <p>@article1.GetPropertyValue("title")</p>
                                </a>
                            </li>
                        }
                    }
                }

            </ul>
        </div>

    }
}