﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;

@model  LeBlenderModel

@{
    var item = Model.Items.FirstOrDefault();
    IPublishedContent content = item.GetValue<IPublishedContent>("businessCardPicker");
    IPublishedContent img = content.GetPropertyValue<IPublishedContent>("businessCardImg");

    dynamic node = new umbraco.MacroEngines.DynamicNode(content.Id);

    var CardImgUrl = content.GetPropertyValue("businessCardImg") != null ? node.GetPropertyValue("businessCardImg") : string.Empty;
    var CardLead = content.GetPropertyValue("businessCardlead") != null ? content.GetPropertyValue("businessCardlead") : string.Empty;
    var CardName = content.GetPropertyValue("businessCardName") != null ? content.GetPropertyValue("businessCardName") : string.Empty;
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);

    RelatedLinks CardLinks = content.GetPropertyValue<RelatedLinks>("businessCardlinks");
}

<div class="image-box">
    @if (img != null)
    {
        <img src="@img.GetCropUrl("businessCard")"
             data-srcset="@Url.GetSrcSetUrls(img, "businessCard")"
             data-src="@Url.GetCropUrl(img, "businessCard")"
             sizes="auto"
             class="lazyload"
             alt="@img.GetPropertyValue("altText")" />
    }
    <div class="content-box">
        <span class="head_title">@CardLead</span>
        <h3>@CardName</h3>

        <div class="links-group">
            @if (CardLinks != null)
            {
                foreach (var link in CardLinks)
                {
                    string targetText = link.NewWindow ? "_blank" : null;
                    <a class="btn_list_link" href="@link.Link" target="@targetText">
                        @link.Caption
                    </a>
                }
            }
        </div>
    </div>
</div>