﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using System.Globalization;

@model  LeBlenderModel

<div class="row">
    <div class="offset-md-1 col-12 col-md-8 col-lg-7">
        <div class="creative-commons-license">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png">
            </a>
            <br>
            This work is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
            </a>
        </div>   
    </div>
</div>
