﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;

@model  LeBlenderModel

@{

    var item = Model.Items.FirstOrDefault();

    string Header = item.GetValue("header");

    var downloads = item.GetValue<IEnumerable<IPublishedContent>>("downloadLinks");
}


            <div class="download-list">
                <div class="headline">
                    <h3>@Header</h3>
                </div>

                <div class="liste">


                    @if (downloads != null)
                    {

                        foreach (var link in downloads)
                        {
                            double bytes = 0;
                            var l = new DownloadLinkItemNC(link);
                            if (l.File!=null)
                            {
                                bytes = int.Parse(l.File.GetPropertyValue<string>("umbracoBytes"));
                            }
                            double Mb = bytes / 1000000;

                            <div class="item">
                                @if (l.File!=null)
                                {
                                     <small class="type">@l.File.GetPropertyValue("umbracoExtension")</small>
                                }
                                <p>@l.Caption</p>

                                <div class="bottom">
                                    <small class="size">@Math.Round(Mb, 2) MB</small>
                                    <a href="@(l.File!=null?l.File.Url:string.Empty)" download>Download</a>
                                </div>
                            </div>
                        }
                     }


                </div>
            </div>

