﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;

@model  LeBlenderModel

@{

    var item = Model.Items.FirstOrDefault();

    string Header = item.GetValue("header");
    var Publications = item.GetValue<IEnumerable<IPublishedContent>>("publications");

}

<h2>@Header</h2>

@if (Publications!=null)
{
    foreach (var publication in Publications)
    {
        var p = new Publication(publication);

        <p>@p.Date.ToString("dd. MMMM")</p>
        <h4>@p.PublicationName</h4>

    }
}