﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;

@model  LeBlenderModel

@{

    var item = Model.Items.FirstOrDefault();

    var Heading = item.GetValue("headline");
    var Description = item.GetValue("description");
}

<div>
    <h1>@Heading</h1>
    <p>@Description</p>
</div>