﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;

@model  LeBlenderModel

@{
    var item = Model.Items.FirstOrDefault();
    IPublishedContent img = item.GetValue<IPublishedContent>("imgPicker");
    IPublishedContent content = item.GetValue<IPublishedContent>("businessCardPicker");
    IPublishedContent imgBusinessCard = content.GetPropertyValue<IPublishedContent>("businessCardImg");

    dynamic node = new umbraco.MacroEngines.DynamicNode(content.Id);

    var CardImgUrl = content.GetPropertyValue("businessCardImg") != null ? node.GetPropertyValue("businessCardImg") : string.Empty;
    var CardLead = content.GetPropertyValue("businessCardlead") != null ? content.GetPropertyValue("businessCardlead") : string.Empty;
    var CardName = content.GetPropertyValue("businessCardName") != null ? node.Name : string.Empty;
    var CardBodyText = content.GetPropertyValue("businessCardBodyText") != null ? content.GetPropertyValue("businessCardBodyText") : string.Empty;

    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);

    RelatedLinks CardLinks = content.GetPropertyValue<RelatedLinks>("businessCardlinks");
}
<div class="row hero hero_textbox image row--wide"
        sizes="auto" data-srcset="@Url.GetSrcSetUrls(img, "heroImg")"
                data-src="@Url.GetCropUrl(img, "heroImg")"
        style="background-image: url('@img.GetCropUrl("heroImg")');">

    <div class="mobile-photo col-sm-12">
        <img src="@img.GetCropUrl("heroImg")"
                data-srcset="@Url.GetSrcSetUrls(img, "heroImg")"
                data-src="@Url.GetCropUrl(img, "heroImg")"
                sizes="auto"
                class="lazyload"
                alt="@img.GetPropertyValue("altText")" />
    </div>
    <div class="col-sm-12 col-lg-8 textbox">
        <div class="row row-eq-height">
            <div class="col-sm-12 col-lg-6 text">
                <small class="tag">@CardLead</small>
                <h1>@CardName</h1>
                <p>@CardBodyText</p>
                @if (CardLinks != null)
                {
                    foreach (var link in CardLinks.Take(1))
                    {
                        string targetText = link.NewWindow ? "_blank" : null;
                        <a class="btn_link" href="@link.Link" target="@targetText">
                            @link.Caption
                        </a>
                    }
                }
            </div>
            <div class="col-sm-12 col-lg-6 img">
                @if (imgBusinessCard != null)
                {
                    <img src="@imgBusinessCard.GetCropUrl("businessCard")"
                         data-srcset="@Url.GetSrcSetUrls(imgBusinessCard, "businessCard")"
                         data-src="@Url.GetCropUrl(imgBusinessCard, "businessCard")"
                         sizes="auto"
                         class="lazyload"
                         alt="@imgBusinessCard.GetPropertyValue("altText")" />
                }
            </div>
        </div>
    </div>
</div>
