﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;


@model  LeBlenderModel

@{
    var item = Model.Items.FirstOrDefault();
    IPublishedContent content = item.GetValue<IPublishedContent>("heroContent");
    IPublishedContent img = content.GetPropertyValue<IPublishedContent>("heroBackgroundImg");
    var heroId = content.Id;
    string HeroTrumpt = content.GetPropertyValue<string>("trumpt") != null ? content.GetPropertyValue<string>("trumpt") : string.Empty;
    var HeroLead = content.GetPropertyValue("lead");
    var HeroBodyText = content.GetPropertyValue("bodyText");
    //Gettign the Image Url from the content
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var Link = string.Empty;
    bool isNewWindowBool = false;
    var Caption = string.Empty;
    if (content.GetPropertyValue<RelatedLinks>("links") != null)
    {
        var HeroLinks = content.GetPropertyValue<RelatedLinks>("links").FirstOrDefault();
        Link = HeroLinks.Link;
        isNewWindowBool = HeroLinks.NewWindow;
        Caption = HeroLinks.Caption;
    }
}

    <div class="row hero hero_textbox row--wide lazyload" sizes="auto" data-srcset="@Url.GetSrcSetUrls(img, "heroImg")"
                 data-src="@Url.GetCropUrl(img, "heroImg")"
         style="background-image: url('@img.GetCropUrl("heroImg")'); min-height: 450px;">



        <div class="mobile-photo col-sm-12">
            <img src="@img.GetCropUrl("heroImg")"
                 data-srcset="@Url.GetSrcSetUrls(img, "heroImg")"
                 data-src="@Url.GetCropUrl(img, "heroImg")"
                 sizes="auto" class="lazyload" alt="@img.GetPropertyValue("AltText")" />
        </div>
        @if (!string.IsNullOrWhiteSpace(HeroTrumpt) || !string.IsNullOrWhiteSpace(HeroLead.ToString()) || !string.IsNullOrWhiteSpace(HeroBodyText.ToString()))
        {
            <div class="col-sm-12 col-lg-8 textbox">
                <div class="row">
                    <div class="col-sm-12 text">
                        <small class="tag">@HeroTrumpt</small>
                        <h1>
                            @umbraco.library.RemoveFirstParagraphTag(Html.Raw(HeroLead).ToString())
                        </h1>
                        <p>
                            @umbraco.library.RemoveFirstParagraphTag(Html.Raw(HeroBodyText).ToString())
                        </p>
                        @if (!string.IsNullOrEmpty(@Caption))
                        {
                            string targetText = @isNewWindowBool ? "_blank" : null;
                            <a class="btn_link" href="@Link" target="@targetText">
                                @Caption
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>


