﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;

@model  LeBlenderModel

@{
    var item = Model.Items.FirstOrDefault();
    IPublishedContent img = item.GetValue<IPublishedContent>("imagePicker");
}

<img src="@img.GetCropUrl("ImgPicker")"
    data-srcset="@Url.GetSrcSetUrls(img, "ImgPicker")"
    data-src="@Url.GetCropUrl(img, "ImgPicker")"
    sizes="auto"
    class="lazyload"
    alt="@img.GetPropertyValue("altText")" />
@if (!string.IsNullOrEmpty(img.GetPropertyValue<string>("byLine")))
{
    <div class="alt">@img.GetPropertyValue("byLine")</div>
}


