﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;


@model  LeBlenderModel

@{
    var item = Model.Items.FirstOrDefault();
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent NewsPicker = item.GetValue<IPublishedContent>("newsPicker");

    var Title = item.GetValue("title") != null ? item.GetValue("title") : string.Empty;
    RelatedLinks links = item.GetValue<RelatedLinks>("links");
    var allNews = NewsPicker.Descendants().Where(x => x.DocumentTypeAlias == "articlePage");

    var sortedNews = allNews.OrderBy(x => x.GetPropertyValue<DateTime>("date"));

}

<div class="row">
    <div class="col-md-12">
        <div class="headline_section">
            <h2>@Title</h2>
            <a class="btn_link" href="#">@umbracoHelper.GetDictionaryValue("AllNews")</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row lastest_news">

            @foreach (var news2 in sortedNews.Reverse().Take(4))
            {
                ArticlePage articleContent = new ArticlePage(news2);
                <a href="@articleContent.Url" class="col-sm-12 col-md-6">
                    <div class="news_items">
                        <div class="text">
                            <small datatime="@articleContent.Date.ToString("yyyy-MM-dd")">@articleContent.Date.ToString("dd. MMMM yyyy")</small>
                            <h4>@articleContent.Title</h4>
                        </div>

                        <div class="img">
                            <img src="@articleContent.Image.Url" alt="@articleContent.Image.GetPropertyValue("altText")" />
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>