﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;

@model  LeBlenderModel

@{
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var item = Model.Items.FirstOrDefault();
    var isBackgroundColor = item.GetValue("backgroundColor") != null ? item.GetValue("backgroundColor") : "False";
    var Title = item.GetValue("title") != null ? item.GetValue("title") : string.Empty;
    RelatedLinks links = item.GetValue<RelatedLinks>("links");
    string Color = string.Empty;
    if (isBackgroundColor == "True")
    {
        Color = "bg-white";
    }
}

<div class="link_liste bg-color @Color">
    <h3>@Title</h3>
    <ul>
        @if (links != null)
        {
            foreach (var link in links)
            {
                string targetText = link.NewWindow ? "_blank" : null;

                <li>
                    <a class="btn_list_link" href="@link.Link" target="@targetText">
                        @link.Caption
                    </a>
                </li>
            }
        }
    </ul>
</div>