﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq

@model  LeBlenderModel

@{
    var item = Model.Items.FirstOrDefault();
    var title = item.GetValue("title") != null ? item.GetValue("title") : string.Empty;


}
    <div class="offset-md-1 col-md-12">
        <div class="download-list">
            <div class="headline">
                <h3>@title</h3>
            </div>
            <div class="liste">
                @for (int count = 1; count <= 6; ++count)
                {

                    if (item.GetValue("media" + count) != null)
                    {
                        var media = item.GetValue<IPublishedContent>("media" + count);
                        double size = System.Math.Round(((media.GetPropertyValue<double>("umbracoBytes") / 1024f) / 1024f),2);
                        <div class="item">
                            <small class="type">@media.GetPropertyValue("umbracoExtension").ToString().ToUpper()</small>
                            <p>@media.GetPropertyValue("title")</p>
                            <div class="bottom">
                                <small class="size">@size MB</small>
                                <a href="@media.Url">Download</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
