﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;
@using Newtonsoft.Json.Linq;

@model  LeBlenderModel

@{
    var item = Model.Items.FirstOrDefault();
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent model = item.GetValue<IPublishedContent>("publicationsPicker");
    var publications = model.Children();
    var SortedPublications = publications.OrderBy(x => x.GetPropertyValue<DateTime>("date")).Reverse();
    var title = item.GetValue("title") != null ? item.GetValue("title") : string.Empty;
    int maxPublications = 0;
    if (!string.IsNullOrWhiteSpace(item.GetValue("maxPublications")))
    {
        maxPublications = item.GetValue<int>("maxPublications");
    }

}
<div class="download-list">
    <div class="headline">
        <h3>@title</h3>
    </div>
    <div class="liste">
        @{
            int maxCount = 0;
        }

        @foreach (var publication in publications)
        {
            var selection2 = (publication.Children.OrderBy(x => x.GetPropertyValue<DateTime>("date")).Reverse());
            foreach (var publication2 in selection2)
            {
        <a href="@publication2.Url" class="item">
            @{
                DateTime date = publication2.GetPropertyValue<DateTime>("Date");
                maxCount++;
            }

            <small class="type">@date.ToString("dd. MMMM yyyy")</small>
            <p>@publication2.GetPropertyValue("Title")</p>
        </a>
                if (maxCount == maxPublications)
                {
                    break;
                }
            }
            if (maxCount == maxPublications)
            {
                break;
            }
        }
    </div>
</div>