﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;
@using Newtonsoft.Json.Linq;

@model  LeBlenderModel

@{
    var item = Model.Items.FirstOrDefault();
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent model = item.GetValue<IPublishedContent>("publicationsPicker");
    var publications = model.Children();
    var SortedPublications = publications.OrderBy(x => x.GetPropertyValue<DateTime>("date")).Reverse();
    var title = item.GetValue("title") != null ? item.GetValue("title") : string.Empty;
    int maxPublications = 0;
    RelatedLinks links = item.GetValue<RelatedLinks>("links");


    if (!string.IsNullOrWhiteSpace(item.GetValue("maxPublications")))
    {
        maxPublications = item.GetValue<int>("maxPublications");
    }

}

<div class="article-list bg-color bg-white">
    <h2>@title</h2>

    <ul>
        @{
            int maxCount = 0;
        }

        @foreach (var publication in publications)
        {
            var selection2 = (publication.Children.OrderBy(x => x.GetPropertyValue<DateTime>("date")).Reverse());
            foreach (var publication2 in selection2)
            {
                <li>
                    <a href="@publication2.Url">
                        @{
                            DateTime date = publication2.GetPropertyValue<DateTime>("Date");
                            maxCount++;
                        }

                        <small class="date_tag">@date.ToString("dd. MMMM yyyy")</small>
                        <p>@publication2.GetPropertyValue("Title")</p>
                    </a>
                </li>
                if (maxCount == maxPublications)
                {
                    break;
                }
            }
            if (maxCount == maxPublications)
            {
                break;
            }
        }
    </ul>

    @{
        if (item.GetValue<RelatedLinks>("links").FirstOrDefault() != null)
        {
            var Link = item.GetValue<RelatedLinks>("links").FirstOrDefault();
            string targetText = Link.NewWindow ? "_blank" : null;

            <a class="btn_list_link" href="@Link.Link" target="@targetText">
                @Link.Caption
            </a>
        }
    }

</div>