﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using System.Globalization;

@model  LeBlenderModel

@{

    var item = Model.Items.FirstOrDefault();
    IPublishedContent content = item.GetValue<IPublishedContent>("newsContentPicker");
    IPublishedContent img = null;


}

@if (content != null)
{

    if (content.GetPropertyValue<IPublishedContent>("image") != null)
    {
        img = content.GetPropertyValue<IPublishedContent>("image");
    }

    var VideoId = content.GetPropertyValue("newsVideoId").ToString();

    var News1Date = content.GetPropertyValue<DateTime>("date");
    var Date = News1Date.ToString("dd. MMMM yyyy");
    var NewsTitle = content.GetPropertyValue("title") != null ? content.GetPropertyValue("title") : string.Empty;
    var NewsUrl = content.UrlAbsolute();
    var NewsBodyText = content.GetPropertyValue("summary") != null ? content.GetPropertyValue("summary") : string.Empty;




    if (!string.IsNullOrEmpty(VideoId) && img != null)
    {
        <a href="@NewsUrl">
            <div class="box box-video">
                <div class="video" data-embed="@content.GetPropertyValue("newsVideoId")">
                    <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"> <path class="stroke-solid" fill="none" stroke="#fff" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7 C97.3,23.7,75.7,2.3,49.9,2.5" /> <path class="icon" fill="#fff" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" /> </svg>
                    <img src="@img.GetCropUrl("newsImg")"
                         data-srcset="@Url.GetSrcSetUrls(img, "newsImg")"
                         data-src="@Url.GetCropUrl(img, "newsImg")"
                         sizes="auto"
                         class="lazyload"
                         alt="@img.GetPropertyValue("altText")" />
                </div>
                <small class="date_tag">@Date</small>
                <h3 class="h4">@NewsTitle</h3>
                <p>@Html.Raw(NewsBodyText)</p>
            </div>
        </a>
    }
    else
    {
        <a href="@NewsUrl">
            <div class="box box-image">
                @if (img != null)
                {
                    <img src="@img.GetCropUrl("newsImg")"
                         data-srcset="@Url.GetSrcSetUrls(img, "newsImg")"
                         data-src="@Url.GetCropUrl(img, "newsImg")"
                         sizes="auto"
                         class="lazyload"
                         alt="@img.GetPropertyValue("altText")" />
                }

                <small class="date_tag">@Date</small>
                <h3 class="h4">@NewsTitle</h3>
                <p>@Html.Raw(NewsBodyText)</p>
            </div>
        </a>
    }
}
else
{

    var newsDate = item.GetValue<DateTime>("date");
    var Date = newsDate.ToString("dd. MMMM yyyy");
    var NewsTitle = item.GetValue("title") != null ? item.GetValue("title") : string.Empty;
    var NewsUrl = item.GetValue<Umbraco.Web.Models.RelatedLinks>("link").FirstOrDefault();
    var NewsBodyText = item.GetValue("summary") != null ? item.GetValue("summary") : string.Empty;
    img = item.GetValue<IPublishedContent>("image");
    string targetNewsUrl = NewsUrl != null ? NewsUrl.NewWindow ? "_blank" : null : null;
    if (NewsUrl != null)
    {
        <a href="@NewsUrl.Link" target="@targetNewsUrl" title="@NewsUrl.Caption">
            <div class="box box-image">
                @if (img != null)
                {
                    <img src="@img.GetCropUrl("newsImg")"
                         data-srcset="@Url.GetSrcSetUrls(img, "newsImg")"
                         data-src="@Url.GetCropUrl(img, "newsImg")"
                         sizes="auto"
                         class="lazyload"
                         alt="@img.GetPropertyValue("altText")" />
                }
                @if (!newsDate.Equals(DateTime.MinValue))
                {
                    <small class="date_tag">@Date</small>
                }
                else
                {
                    <small class="date_tag"></small>

                }
                <h3 class="h4">@NewsTitle</h3>
                <p>@Html.Raw(NewsBodyText)</p>
            </div>
        </a>
    }
}