﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;

@model  LeBlenderModel

@{

    var item = Model.Items.FirstOrDefault();

    var Quote = item.GetValue("quote");
    var Author = item.GetValue("author");

}

<h2>@Quote</h2>
<p>@Author</p>