﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;


@model  LeBlenderModel

@{
    var item = Model.Items.FirstOrDefault();
    var Quote = item.GetValue("quote") != null ? item.GetValue("quote") : string.Empty;
    var Author = item.GetValue("author") != null ? item.GetValue("author") : string.Empty;

}
<div class="row">
    <div class="offset-md-1 col-12 col-md-8 col-lg-7 d-flex">
        <blockquote>
            <img class="quote-icon" src="~/assets/images/icons/quote.svg" alt="quote" />
            <p>@Quote</p>
            @if (!string.IsNullOrWhiteSpace(Author))
            {
                <p class="author">@Author</p>
            }
        </blockquote>
    </div>
</div>
