﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;

@model  LeBlenderModel

@{
    var item = Model.Items.FirstOrDefault();
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.ToString();
    var link = item.GetValue<RelatedLinks>("link").FirstOrDefault();

    List<int> years = new List<int>();
    var ArticlesPicker = item.GetValue<IPublishedContent>("articlesPicker");
    var allArticles = ArticlesPicker.Descendants().Where(x => x.DocumentTypeAlias == "articlePage");
    IEnumerable<int> DuplicatesRemoved = years.Distinct();
    var SortedYears = DuplicatesRemoved.OrderBy(x => x).Reverse();


}

@if (ArticlesPicker != null)
{
    //get years
    foreach (var article in allArticles)
    {
        var year = article.GetPropertyValue<DateTime>("date").ToString("yyyy");
        years.Add(int.Parse(year));

    }

}


<div class="row">
    <div class="col-md-12">
        <div class="headline_section">
            <h2>@item.GetValue("name")</h2>

            @if (link != null)
            {
                <a class="btn_link" @(link.NewWindow == true ? "target=_blank" : "") href="@(link != null ? link.Link : string.Empty)">@(link != null ? link.Caption : string.Empty)</a>
            }

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="publications">


            <div class="filter-menu">

                <ul class="filter articles">

                    @{

                        foreach (var year in SortedYears.Take(3))
                        {

                            <li class="btn-filter" id="@ArticlesPicker.Id" data-year="@year">@year</li>

                        }
                    }
                </ul>
                <select>
                    @{
                        foreach (var year in SortedYears.Take(3))
                        {
                            <option>
                                @year
                            </option>
                        }
                    }
                </select>





            </div>

            @{
                var SortedArticles = allArticles.OrderBy(x => x.GetPropertyValue<DateTime>("date")).Reverse();
            }

            <div id="" class="publications-slider owl-carousel">
                @foreach (var Article in SortedArticles.Take(12))
                {
                    var article = new ArticlePage(Article);

                    <a href="@article.Url">
                        <div class="publication">
                            @if (article.Image != null)
                            {
                                <img src="@article.Image.GetCropUrl("newsImg")"
                                     data-srcset="@Url.GetSrcSetUrls(article.Image, "newsImg")"
                                     data-src="@Url.GetCropUrl(article.Image, "newsImg")"
                                     sizes="auto"
                                     class="lazyload"
                                     alt="@article.Image.GetPropertyValue("altText")" />
                            }
                            <small class="date_tag">@article.Date.ToString("dd. MMMM yyyy")</small>
                            <p class="title">
                                @article.Title
                            </p>
                        </div>
                    </a>
                }
                <div class="slider-nav">
                    <div class="btn_next next">
                        <p>@umbracoHelper.GetDictionaryValue("Next")</p>
                    </div>
                    <div class="btn_prev prev">
                        <p>@umbracoHelper.GetDictionaryValue("Previous")</p>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>
