﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Newtonsoft.Json.Linq;

@model  LeBlenderModel

@{
    var item = Model.Items.FirstOrDefault();
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent NewsPicker = item.GetValue<IPublishedContent>("newsPicker");
    var allNews = NewsPicker.Descendants().Where(x => x.DocumentTypeAlias == "articlePage");
    int ItemsShown = item.GetValue<int>("itemsShown");
    if (ItemsShown==0)
    {
        ItemsShown = 5;
    }


    var sortedNews = allNews.OrderBy(x => x.GetPropertyValue<DateTime>("date"));
    var header = item.GetValue("header");

    List<int> Ids = new List<int>();

    foreach (var yearFolder in NewsPicker.Children)
    {
        Ids.Add(yearFolder.Id);
    }

    var years = new List<string>();
    foreach (var year in allNews)
    {
        years.Add(year.GetPropertyValue<DateTime>("date").ToString("yyyy"));
    }

}
        <section class="overview">
            <div class="row">
                <div class="offset-md-1 col-12 col-md-10">
                    <header>
                        <div class="filter">
                            <h1>@header</h1>
                            <select id="select">
                                <option id="@NewsPicker.Id" data-year="all" selected>@umbracoHelper.GetDictionaryValue("latest")</option>
                              
                                @foreach (var year in years.Distinct())
                                {
                                    <option id="@NewsPicker.Id" data-year="@year">@year</option>
                                    
                                }
                            </select>
                        </div>
                    </header>
                    <hidden class="starting-items" data-startingitems="@ItemsShown"> </hidden>
                    <div class="row news">

                        @foreach (var newsCollection in sortedNews.Reverse().Take(ItemsShown))
                        {
                            var news = new ArticlePage(newsCollection);
                            <a href="@news.Url" class="col-12">
                                <div class="row item">
                                    <div class="col-12 col-md-2">
                                        <time datatime="@news.Date.ToString("yyyy-MM-dd")">@news.Date.ToString("dd. MMMM yyyy")</time>
                                    </div>
                                    <div class="col text">
                                        <h2>@news.Title</h2>
                                        <p>@news.Summary</p>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        @if (news.Image != null)
                                        {
                                            <img src="@news.Image.GetCropUrl("newsImg")"
                                                 data-srcset="@Url.GetSrcSetUrls(news.Image, "newsImg")"
                                                 data-src="@Url.GetCropUrl(news.Image, "newsImg")"
                                                 sizes="auto"
                                                 class="lazyload"
                                                 alt="@news.Image.GetPropertyValue("altText")" />
                                        }

                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                    <div class="col-12">
                        <button id="loadmore" class="btn_loadmore ">@umbracoHelper.GetDictionaryValue("Loadmore")</button>
                    </div>
                </div>
                </div>
        </section>
