﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;

@model  LeBlenderModel

@{
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var item = Model.Items.FirstOrDefault();
    var Title = item.GetValue("title") != null ? item.GetValue("title") : string.Empty;
    var BodyText = item.GetValue("bodyText");
    var download = item.GetValue<IPublishedContent>("mediaPicker");

    RelatedLinks links = item.GetValue<RelatedLinks>("links");
}

<div class="box-text bg-dark-blue">
    <h3>@Title</h3>
    <p>
        @Html.Raw(BodyText)
    </p>

    @if (links != null)
    {
        foreach (var link in links.Take(1))
        {
            string targetText = link.NewWindow ? "_blank" : null;
            <a class="btn_list_link" href="@link.Link" target="@targetText">
                @link.Caption
            </a>
        }
    }

    @if (download != null)
    {
        string mediaType = download.GetPropertyValue("umbracoExtension").ToString();
        double bytes = bytes = int.Parse(download.GetPropertyValue<string>("umbracoBytes"));
        double Mb = bytes / 1000000;

        <div class="item">
            <small class="type">@download.GetPropertyValue("umbracoExtension")</small>
            @if (!string.IsNullOrWhiteSpace(download.GetPropertyValue("title").ToString()))
            {
                <p>
                    @download.GetPropertyValue("title")
                </p>
            }
            else
            {
                <p>@download.UrlName</p>
            }
            <div class="bottom">
                <small class="size">@Math.Round(Mb, 2) MB</small>
                <a href="@download.Url" download>Download</a>
            </div>
        </div>
    }
</div>
