﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq

@model  LeBlenderModel

@{
    var item = Model.Items.FirstOrDefault();
    IPublishedContent content = item.GetValue<IPublishedContent>("statistics");
    IPublishedContent img = content.GetPropertyValue<IPublishedContent>("backgroundImg");

    dynamic node = new umbraco.MacroEngines.DynamicNode(content.Id);

    var Title1 = content.GetPropertyValue("title1") != null ? content.GetPropertyValue("title1") : string.Empty;
    var Title2 = content.GetPropertyValue("title2") != null ? content.GetPropertyValue("title2") : string.Empty;
    var Title3 = content.GetPropertyValue("title3") != null ? content.GetPropertyValue("title3") : string.Empty;

    var NumberType1 = content.GetPropertyValue("numberType1") != null ? content.GetPropertyValue("numberType1") : string.Empty;
    var NumberType2 = content.GetPropertyValue("numberType2") != null ? content.GetPropertyValue("numberType2") : string.Empty;
    var NumberType3 = content.GetPropertyValue("numberType3") != null ? content.GetPropertyValue("numberType3") : string.Empty;

    if ((string)NumberType1 == "Procent")
    {
        NumberType1 = "%";
    }
    if ((string)NumberType2 == "Procent")
    {
        NumberType2 = "%";
    }
    if ((string)NumberType3 == "Procent")
    {
        NumberType3 = "%";
    }

    var BodyText1 = content.GetPropertyValue("bodyText1") != null ? content.GetPropertyValue("bodyText1") : string.Empty;
    var BodyText2 = content.GetPropertyValue("bodyText2") != null ? content.GetPropertyValue("bodyText2") : string.Empty;
    var BodyText3 = content.GetPropertyValue("bodyText3") != null ? content.GetPropertyValue("bodyText3") : string.Empty;

    //Gettign the Image Url from the content
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);

}
<div class="row--wide">
    <picture>
        <source sizes="auto" class="lazyload" srcset="@Url.GetSrcSetUrls(img,"heroImg")" />
        <div class="info-box row info-box__counter" style="background-image: linear-gradient(0deg, rgba(7, 33, 42, 0.7), rgba(7, 33, 42, 0.7)),url('@img.GetCropUrl("heroImg")')">
            <div class="col-md-4">
                <div class="info-box__item">
                    <h4><span class="counter" data-count="@Title1">0</span>@NumberType1</h4>
                    <p>@Html.Raw(BodyText1)</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box__item">
                    <h4><span class="counter" data-count="@Title2">0</span>@NumberType2</h4>
                    <p>@Html.Raw(BodyText2)</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box__item">
                    <h4><span class="counter" data-count="@Title3">0</span>@NumberType3</h4>
                    <p>@Html.Raw(BodyText3)</p>
                </div>
            </div>
        </div>
    </picture>
</div>