﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq

@model  LeBlenderModel

@{
    var item = Model.Items.FirstOrDefault();
    IPublishedContent content = item.GetValue<IPublishedContent>("statistics");
    IPublishedContent imgBackGround = content.GetPropertyValue<IPublishedContent>("backgroundImg");

    IPublishedContent img1 = content.GetPropertyValue<IPublishedContent>("statImage1");
    IPublishedContent img2 = content.GetPropertyValue<IPublishedContent>("statImage2");
    IPublishedContent img3 = content.GetPropertyValue<IPublishedContent>("statImage3");

}
<div class="row--wide">
    <picture>
        <source sizes="auto" class="lazyload" srcset="@Url.GetSrcSetUrls(imgBackGround,"heroImg")" />
        <div class="info-box row" style="background-image: linear-gradient(0deg, rgba(7, 33, 42, 0.7), rgba(7, 33, 42, 0.7)),url('@imgBackGround.GetCropUrl("heroImg")')">
            <div class="col-md-4">
                <div class="info-box__item">
                    <img src="@img1.Url.GetCropUrl()" alt="@img1.GetPropertyValue("altText")" />
                </div>

            </div>
            <div class="col-md-4">
                <div class="info-box__item">
                    <img src="@img2.Url.GetCropUrl()" alt="@img2.GetPropertyValue("altText")" />
                </div>

            </div>
            <div class="col-md-4">
                <div class="info-box__item">
                    <img src="@img3.Url.GetCropUrl()" alt="@img3.GetPropertyValue("altText")" />
                </div>

            </div>
        </div>
    </picture>
</div>