﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using System.Globalization;
@using Umbraco.Web;
@model  LeBlenderModel

@{
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var item = Model.Items.FirstOrDefault();
    IPublishedContent content = item.GetValue<IPublishedContent>("temahighLight");
    IPublishedContent img = content.GetPropertyValue<IPublishedContent>("temaImg");

    dynamic node = new umbraco.MacroEngines.DynamicNode(content.Id);

    var News1Title = content.GetPropertyValue("headline") != null ? content.GetPropertyValue("headline") : string.Empty;
    var News1BodyText = content.GetPropertyValue("description") != null ? content.GetPropertyValue("description") : string.Empty;
}

@if (img != null)
{
    <picture>
        <source sizes="auto" class="lazyload" srcset="@Url.GetSrcSetUrls(img,"temaImg")" />
        <div class="box box-image_large">
            <div class="text">
                <small>Tema</small>
                <h3 class="h4">@News1Title</h3>
                <p>
                    @Html.Raw(News1BodyText)
                </p>
                <a class="btn_link" href="@content.Url">@umbracoHelper.GetDictionaryValue("readmore")</a>
            </div>
            <div class="img">
                <img src="@img.GetCropUrl("ImgPicker")"
                     data-srcset="@Url.GetSrcSetUrls(img, "ImgPicker")"
                     data-src="@Url.GetCropUrl(img, "ImgPicker")"
                     sizes="auto"
                     class="lazyload"
                     alt="@img.GetPropertyValue("altText")" />
            </div>
        </div>
    </picture>
}

