﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;

@model  LeBlenderModel

@{

    var item = Model.Items.FirstOrDefault();

    var PickerContent = item.GetValue<IPublishedContent>("themesPicker");
    var sd = "";

    var Img = PickerContent.GetPropertyValue<IPublishedContent>("image");
    var Category = PickerContent.GetPropertyValue("category");
    var Name = PickerContent.GetPropertyValue("themeName");
    var Desc = PickerContent.GetPropertyValue("description");
}
<a href="@PickerContent.Url">
    @if (Img != null)
    {
        <img src="@Img.Url" />
    }
    <p>@Category</p>
    <h3>@Name</h3>
    <p>@Desc</p>
</a>