﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using System.Globalization;

@model  LeBlenderModel

@{
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var item = Model.Items.FirstOrDefault();
    IPublishedContent content = item.GetValue<IPublishedContent>("themePicker");
    IPublishedContent img = content.GetPropertyValue<IPublishedContent>("temaImg");

    dynamic node = new umbraco.MacroEngines.DynamicNode(content.Id);

    var News1Title = content.GetPropertyValue("headline") != null ? content.GetPropertyValue("headline") : string.Empty;
    var News1BodyText = content.GetPropertyValue("description") != null ? content.GetPropertyValue("description") : string.Empty;
}

@if (img != null)
{
    <picture>
        <source sizes="auto" class="lazyload" srcset="@Url.GetSrcSetUrls(img,"temaListLargeImg")" />
        <a href="@content.Url">
            <div class="card">
                <img class="card-img-top" src="@img.GetCropUrl("temaListLargeImg")" alt="@img.GetPropertyValue("altText")" />
                <div class="card-body">
                    <small>Tema</small>
                    <h5 class="card-title">@News1Title"</h5>
                    <p class="card-text">
                        @Html.Raw(News1BodyText)
                    </p>
                </div>
            </div>
        </a>
    </picture>
}


