﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;

@model  LeBlenderModel

@{
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var item = Model.Items.FirstOrDefault();

    var Title = item.GetValue("title") != null ? item.GetValue("title") : string.Empty;
    var Lead = item.GetValue("lead") != null ? item.GetValue("lead") : string.Empty;
    var Date = item.GetValue("date");

}

<div class="offset-md-1 col-12 col-md-8">
    <header>
        <h1>@Title</h1>
        <p>
            @Html.Raw(Lead)
        </p>
        <p><b>@Date</b></p>
    </header>
</div>
