﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;

@model  LeBlenderModel

@{
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var item = Model.Items.FirstOrDefault();

    var Title = item.GetValue("title") != null ? item.GetValue("title") : string.Empty;
    var SubTitle = item.GetValue("subTitle");
    //Fix later to use some nested content when ít works with lebender
    var SocialMedia = item.GetValue<IEnumerable<IPublishedContent>>("socialMedia");

}

<div class="col-md-12">

    <div class="headline_section">
        <h2>@Title</h2>
        <div class="btns_some">
            @SubTitle
            <div class="divider"></div>
            @if (SocialMedia!=null)
            {

                foreach (var media in SocialMedia)
                {
                    var Media = new SocialMediaNcitem(media);

                    if (Media.Image != null)
                    {
                     <a class="svg btn_some" href="@Media.Link"><img class="svg" src="@Media.Image.Url" alt="@Media.Image.GetPropertyValue("altText")"></a>
                    }
                }
            }
        </div>
    </div>
</div>


