﻿@using Lecoati.LeBlender.Extension.Models
@using System.Linq
@using Umbraco.Web.Models;

@model  LeBlenderModel

@{
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var item = Model.Items.FirstOrDefault();

    var Title = item.GetValue("title") != null ? item.GetValue("title") : string.Empty;
    var links = item.GetValue<RelatedLinks>("links").FirstOrDefault();
    var Link = string.Empty;
    bool isNewWindowBool = false;
    var Caption = string.Empty;

    if (links != null)
    {
        Link = links.Link;
        isNewWindowBool = links.NewWindow;
        Caption = links.Caption;
    }

}

<div class="col-md-12">

    <div class="headline_section">
        <h2>@Title</h2>

        @if (links != null)
        {
            string targetText = isNewWindowBool ? "_blank" : null;
            <a class="btn_link" href="@Link" target="@targetText">@Caption</a>
        }

    </div>
</div>
