<div class="newsletter-form">
  <h3>Nyhedsbrev</h3>
  <p class="subtitle">
    Ønsker du at blive opdateret af senest nyheder?
  </p>
  <p class="highlight">Tilmeld til vores nyhedsbrev!</p>
  <!-- <p>
      Her kan du abonnere på nyhedsmails fra Transport-, Bygnings- og Boligministeriet. Vi udsender to slags mails, et nyhedsbrev og pressemeddelelser. Du kan abonnere på én kategori eller begge, og du kan altid afmelde dit abonnement.
  </p> -->
  <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  <form>
    <div class="form-group">
      <input type="email" class="form-control" name="email" required aria-labelledby="newsletter-email"/>
      <label id="newsletter-email" for="newsletter-email">Indtast din email</label>
    </div>
    <div class="form-check">
      <label id="checkmark-news" class="container" role="group" aria-labelledby="checkmark-news">
        Nyhedsbrev
        <input  type="checkbox"/>
        <span class="checkmark"></span>
      </label>
      <label id="checkmark-press" class="container" role="group" aria-labelledby="checkmark-press">
        Pressemeddelelser
        <input type="checkbox"/>
        <span class="checkmark"></span>
      </label>
    </div>
    <button type="submit" class="btn btn_form_submit">Tilmeld</button>
  </form>
</div>
