<div class="row">
  <div class="col-md-8">
    <!--=include ../../components/lists/download-list_large.html -->
  </div>
  <div class="col-md-4">
    <!--=include ../../components/lists/links_list_bg-c.html -->
  </div>
</div>
