﻿@using Umbraco.Web.Models;
@inherits UmbracoViewPage
@{

    var root = Model.Site();
    var localModel = new Website(root);
    var link = localModel.SecodTabLink;
}

<footer>
    <div class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-md-4">
                <div class="content">
                    @if (!string.IsNullOrEmpty(localModel.FirstTabName))
                    {
                        <h4>
                            @localModel.FirstTabName
                        </h4>

                    }
                    @if (localModel.FirstTabUpperTextArea != null && !string.IsNullOrEmpty(localModel.FirstTabUpperTextArea.ToString()))
                    {
                        <div class="content__info">
                            @Html.Raw(localModel.FirstTabUpperTextArea)
                        </div>

                    }
                    @if (localModel.FirstTabLowerTextArea != null && !string.IsNullOrEmpty(localModel.FirstTabLowerTextArea.ToString()))
                    {
                        <div class="content__info">
                            @Html.Raw(localModel.FirstTabLowerTextArea)
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="content">
                    @if (!string.IsNullOrEmpty(localModel.SecondTabName))
                    {
                        <h4>@localModel.SecondTabName</h4>
                    }
                    @if (link != null)
                    {
                        <a class="email" href="mailto:@link.FirstOrDefault().Link">@link.FirstOrDefault().Caption</a>
                    }
                    @if (!string.IsNullOrEmpty(localModel.SecondTabLowerName))
                    {
                        <h4>@localModel.SecondTabLowerName</h4>
                    }

                    <div class="content__info">
                        @Html.Raw(localModel.SecondTabTextArea)
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content">
                    @if (!string.IsNullOrEmpty(localModel.ThirdTabName))
                    {
                        <h4>@localModel.ThirdTabName</h4>
                    }
                    @if (localModel.FooterLinksNestedContent != null)
                    {
                        <div class="link_liste">
                            <ul>
                                @foreach (var item in localModel.FooterLinksNestedContent)
                                {
                                    string targetText = item.NewWindow ? "_blank" : null;

                                    <li>
                                        <a class="btn_list_link" href="@item.Link" target="@targetText">
                                            @item.Caption
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="col-md-4">
                @if (!string.IsNullOrEmpty(localModel.FooterBottomLeftText))
                {
                    <small>@localModel.FooterBottomLeftText</small>
                }
            </div>
            <div class="col-md-4 d-flex justify-content-sm-start justify-content-md-center">
                <div class="btns_some">

                    @if (localModel.FooterBottomSocialMediaNestedContent != null)
                    {
                        foreach (var SocialMediaItem in localModel.FooterBottomSocialMediaNestedContent)
                        {
                            if (SocialMediaItem != null)
                            {
                                var Url = SocialMediaItem.GetPropertyValue("link");
                                var image = SocialMediaItem.GetPropertyValue<IPublishedContent>("image").Url;
                                var Alt = SocialMediaItem.GetPropertyValue("alt");

                                <a class="svg btn_some" href="@Url"><img class="svg" src="@image" alt="@Alt"></a>
                            }
                        }
                    }
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-sm-start justify-content-md-end">

                @if (localModel.FooterBottomRightText != null)
                {
                    var BottonLink = localModel.FooterBottomRightText.FirstOrDefault();
                    string targetTextLang = BottonLink.NewWindow ? "_blank" : null;
                    <a target="@targetTextLang" href="@BottonLink.Link">@BottonLink.Caption</a>
                }
            </div>
        </div>
    </div>
</footer>