﻿@using System.Linq
@using Umbraco.Web.Models;
@model Trasportministeriet.Core.Models.NewsletterViewModel


@{

    var item = Model.Items.FirstOrDefault();
    IPublishedContent content = item.GetValue<IPublishedContent>("componentPicker");

    var header = content.GetPropertyValue("header") != null ? content.GetPropertyValue("header") : string.Empty;
    var description = content.GetPropertyValue("description") != null ? content.GetPropertyValue("description") : string.Empty;
    var highlightText = content.GetPropertyValue("highlightText") != null ? content.GetPropertyValue("highlightText") : string.Empty;
    var checkbox1Label = content.GetPropertyValue("checkbox1Label") != null ? content.GetPropertyValue("checkbox1Label") : string.Empty;
    var checkbox2Label = content.GetPropertyValue("checkbox2Label") != null ? content.GetPropertyValue("checkbox2Label") : string.Empty;
    var buttonText = content.GetPropertyValue("buttonText") != null ? content.GetPropertyValue("buttonText") : string.Empty;

}

<div class="newsletter-form">
    <h3>@header</h3>
    <p class="subtitle">
        @umbraco.library.RemoveFirstParagraphTag(Html.Raw(description).ToString())
    </p>
    <p class="highlight">@umbraco.library.RemoveFirstParagraphTag(Html.Raw(highlightText).ToString())</p>
    <form>
        <div class="form-group">
            <input type="email"
                   class="form-control"
                   name="email"
                   placeholder="@umbraco.library.GetDictionaryItem("InputPlaceholder")" />
        </div>
        <div class="form-check">
            <label class="container">
                @umbraco.library.GetDictionaryItem("NewsLetter")
                <input type="checkbox" />
                <span class="checkmark"></span>
            </label>
            <label class="container">
                @umbraco.library.GetDictionaryItem("Press")
                <input type="checkbox" />
                <span class="checkmark"></span>
            </label>
        </div>
        <button type="submit" class="btn btn_form_submit">@umbraco.library.GetDictionaryItem("Submit")</button>
    </form>
</div>