﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    SubscribeToNewsletterModules newsletter = new SubscribeToNewsletterModules(Model);
}

<div class="newsletter-form">
    @if (!string.IsNullOrEmpty(newsletter.Header))
    {
        <h3>@newsletter.Header</h3>

    }
    @if (newsletter.Description != null)
    {
        <p class="subtitle">
            @Html.Raw(umbraco.library.RemoveFirstParagraphTag(newsletter.Description.ToString()))
        </p>
    }
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    <div class="msg"></div>
    <form>
        <div class="form-group">
            <input type="email" id="formEmail" class="form-control" name="email" required="" aria-labelledby="newsletter-email">
            <label id="newsletter-email" for="newsletter-email">@umbraco.library.GetDictionaryItem("InputPlaceholder")</label>
        </div>
        <div class="form-check">
            @if (newsletter.Interest != null)
            {
                foreach (var list in newsletter.Interest)
                {
                    NCnewsletterListIdItem item = new NCnewsletterListIdItem(list);
                    <label class="container">
                        @item.ListName
                        <input data-consent="@item.PermissionId" name="interest" type="checkbox" value="@item.ListId" />
                        <span class="checkmark"></span>
                    </label>
                }
            }
            <label class="container consentlabel">
                @Html.Raw(newsletter.ConsentText)
                <input name="consent" type="checkbox" />
                <span class="checkmark"></span>
            </label>
        </div>
        <a class="btn btn_form_submit">@newsletter.ButtonText</a>
    </form>
</div>
<script>
    var accepted = false;

    $(document).on('click', ".btn_form_submit", function (e) {
        e.preventDefault();
        if (accepted && $("#formEmail").val() != "") {
            var interests = [];
            $("input:checkbox[name=interest]:checked").each(function () {
                var item = $(this).val() + "," + $(this).data("consent");
                interests.push(item);
            });
            $('.newsletter-form form').hide();
            $('.lds-ellipsis').fadeIn();
            addToList(interests);
            $("input:checkbox[name=consent]").next(".checkmark").removeClass("notValid")
            $("#formEmail").removeClass("notValid")
        } else if ($("#formEmail").val() == "" && !accepted) {
            $("#formEmail").addClass("notValid")
            $("input:checkbox[name=consent]").next(".checkmark").addClass("notValid")
        } else if (!accepted) {
            $("#formEmail").removeClass("notValid")
            $("input:checkbox[name=consent]").next(".checkmark").addClass("notValid")
        } else if ($("#formEmail").val() == "") {
            $("#formEmail").addClass("notValid")
            $("input:checkbox[name=consent]").next(".checkmark").removeClass("notValid")
        }
    });
    $(document).on('click', "input:checkbox[name=consent]", function (e) {
        accepted = accepted == true ? false : true;
        $("input:checkbox[name=consent]").attr("checked", true);
    });

    function addToList(interests) {
        $.ajax({
            url: '/umbraco/surface/Mailchimp/AddToList',
            type: 'Get',
            contentType: 'application/json',
            data: {
                email: $("#formEmail").val(),
                pageId: @Model.Id,
                interests: interests.join("|")
            },
            success: function (data) {
                var newData = data.trim();
                $('.lds-ellipsis').fadeOut();
                $('.msg').append(newData).hide().delay(500).fadeIn(500);
            }
        });
    }
</script>