.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $dark-blue;
  box-sizing: border-box;
  position: relative;
  padding: 40px;
  height: 100%;
  width: 100%;
  box-shadow: $shadow;
  min-height: 600px;

  @include media-breakpoint-down(md) {
    padding: 20px;
  }

  h3 {
    top: 40px;
    position: absolute;
    margin-bottom: 60px;
    font-weight: 500;
    text-transform: uppercase;
    color: $white;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      height: 1px;
      width: 40px;
      border-bottom: 1px solid $white;
    }

    p {
      color: $white;
      line-height: 14px;
      font-size: 14px;
    }
  }

  .subtitle {
    line-height: 32px;
    font-size: 22px;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 60px;
    color: $white;
    @include media-breakpoint-down(sm) {
      margin-top: 80px;
    }
  }

  .highlight {
    color: $yellow;
    line-height: 28px;
    font-size: 22px;
    font-weight: 100;
  }

  form {
    width: 100%;

    .form-group {
      position: relative;
      display: flex;
      margin: 65px 0 46px 0;

      input {
        z-index: 10;
        border-radius: 0;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid $white;
        color: $white;
        transition: all .2s;

        &:required {
          // Removes red border when invalid IE, firefox
          box-shadow: none;
        }

        & + label,
        &:invalid + label {
          opacity: 1;
        }

        &:focus {
          outline: solid;
        }

        &:focus + label,
        &:visited + label,
        &:valid + label {
          opacity: 0;
        }
      }

      label {
        z-index: 5;
        position: absolute;
        top: 50%; 
        transform: translate(0, -50%); 
        left: 0;
        color: $white;
        transition: .25s;
        padding: 0.375rem 0.75rem;
      }
    }

    .form-check {
      padding-left: 0;
      margin: 40px 0;

      label {
        color: $white;
        line-height: 14px;
        font-size: 14px;
      }
    }

    .container {
      max-width: 100% !important;
    }
  }

  .form-response {
    p {
      color: $white;
    }

    a {
      color: $white;
      text-decoration: underline;
    }
  }
}

.notValid {
  border-color: $red !important;

  &.checkmark {
    background-color: $red;
  }
}

.consentlabel {
  margin-top: 20px;

  p {
    font-size: 14px;
    line-height: 21px;
    color: $white;
  }

  a {
    color: $white;
    text-decoration: underline;
  }

  .checkmark {
    top: 3px;
  }
}

.lds-ellipsis {
  display: none;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
