.box-image_large {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  max-width: 1200px;
  margin: 40px auto;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    margin: 0 auto;
  }
  .text {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #19242E;
    padding: 65px;
    width: 85%;
    left: -8%;

    @include media-breakpoint-down(md) {
      padding: 20px;
      order: 2;
      left: 0;
      width: 100%;
    }
    /* Large tablet */
    @media only screen and (min-width: 992px) and (max-width: 1443px) {
      left: -7.5%;
    }

    small {
      color: $yellow;
      text-transform: uppercase;
    }

    h4,
    p,
    a {
      color: $white;
      width: 60%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }

    h4 {
      line-height: 48px;
      font-size: 34px;
    }

    a {
      margin-left: 20px;
      &:before {
        background-image: url("../images/icons/arrow_right-white.svg");
      }
    }
  }

  .img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    width: 45%;
    height: 80%;

    @include media-breakpoint-down(md) {
      width: 100%;
      height: 100%;
    }

    @include media-breakpoint-down(md) {
      margin-left: 0;
      width: 100%;
      position: relative;
      top: 0;
      transform: none;
    }

    img {
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
}
