.box-video-full {
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-breakpoint-down(sm) {
      padding: 20px 20px;
    }
    
    h3 {
      line-height: 48px;
      font-size: 34px;
    }
    p {
      color: $grey;
    }
  }
}
