.box-text {
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100%;
  min-height: 500px;
  position: relative;
  box-shadow: $shadow;

  h3 {
    text-transform: uppercase;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 15px;
    font-weight: 500;
  }
  
  p {
    line-height: 32px;
    font-size: 22px;
    font-weight: 100;
    @include media-breakpoint-down(md) {
      line-height: 26px;
      font-size: 16px;
    }
  }

  .btn_list_link {
    position: relative;
    padding-left: 20px;

    &:hover {
      color: $white;
    }
  }

  .item {
    p {
      font-weight: 600;
    }
    
    small {
      color: $grey;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    .bottom {
      display: flex;
      justify-content: space-between;

      a {
        font-weight: 600;
        color: $yellow;
        text-transform: uppercase;
        line-height: 22px;
        font-size: 11px;
      }
    }
  }
}
