.image-box {
    position: relative;
    background-color: black;
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 16.72%, rgba(0, 0, 0, 0) 31.27%, rgba(0, 0, 0, 0.17) 54.98%, rgba(0, 0, 0, 0.823115) 67.47%, #000000 72.62%);
        opacity: .6; 
      }
    @include media-breakpoint-down(sm) {
        margin-bottom: 40px;
    }

    .content-box {
        position: absolute;
        bottom: 30px;
        left: 40px;
        width: calc(100% - 80px);
        @include media-breakpoint-down(md) {
            bottom: 10px;
            left: 20px;
            width: calc(100% - 38px);
          }
          @include media-breakpoint-down(SM) {
            bottom: 20px;
          }
        .head_title {
            line-height: 28px;
            font-size: 16px;
            color: $white;
            font-weight: 100;
        }
        h3 {
            line-height: 48px;
            font-size: 36px;
            color: $white;
            @include media-breakpoint-down(md) {
                font-size: 30px;
              }
        }
        .links-group {
            display: flex;
            position: relative;
            width: 100%;
            border-top: 1px solid $grey;
            padding-top: 15px;
            .btn_list_link {
                position: relative;
                color: $white;
                padding-left: 20px;
                margin-right: 50px;
                @include media-breakpoint-down(md) {
                    margin-right: 20px;
                  }
            }

        }
    }
    @include media-breakpoint-down(1024) {
        min-height: 423px;
      }
    @include media-breakpoint-down(md) {
        min-height: 440px;
    }
    @include media-breakpoint-down(sm) {
        min-height: 430px;
    }
}