.info-box {
  background-color: $white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px 80px;
  box-sizing: border-box;
  @include media-breakpoint-down(md) {
    padding: 20px 20px;
  }
  @include media-breakpoint-down(sm) {
    padding: 50px 80px;
  }

  &.row {
    margin-bottom: 0;
    margin: 0 -100px;
    @include media-breakpoint-down(md) {
      margin: 0 -20px;
    }
    @include media-breakpoint-down(sm) {
      margin: 0 0;
      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 150px;
    padding-top: 150px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0 !important;
      padding-bottom: 60px;
      padding-top: 60px;
    }

    @include media-breakpoint-down(md) {
      padding-bottom: 100px;
      padding-top: 100px;
      padding-left: 20px;
      padding-right: 20px;
    }

    h4 {
      line-height: 60px;
      font-size: 70px;
      font-family: $font-sans-serif;
      text-align: center;
      letter-spacing: 0.1em;
      color: $yellow;
      margin-bottom: 30px;
    }

    p {
      color: $white;
      line-height: 26px;
      font-size: 16px;
      text-align: center;
      width: 100%;
      max-width: 300px;
      margin-bottom: 0;
    }

    img {
      height: 142px;
      width: auto;
    }
  }
  

}
