.some_box {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  @include media-breakpoint-down(sm) {
    margin-bottom: 60px;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .col-md-6{
      padding: 0 20px;
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
  }

  .col-md-12, .col-sm-12, .col-12 {
    padding: 0 20px;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    margin-bottom: 40px;
    position: relative;
    background: no-repeat center center;
    background-size: cover;
    width: 100%;
    border-radius: 0;
    transition: $transition;
    box-shadow: $shadow;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    @include media-breakpoint-down(sm) {
      padding: 0;
      margin-bottom: 15px;
    }

    @include media-breakpoint-down(md) {
      padding: 0 10px 20px 0;
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    &:hover {
      box-shadow: $shadow-hover;
    }
    &.twitter {
      .title {
        font-weight: bold;
      }

      .title,
      .author {
        color: $black;

        svg {
          width: 20px;
          height: auto;
          margin-right: 12px;

          path {
            fill: $black;
          }
        }
      }

      .text {
        padding: 20px;

      }

      img {
        width: 20px;
      }

      p {
        font-style: italic;
        padding: 15px 0 0 0;
        line-height: 18px;
        font-size: 12px;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      cursor: pointer;
      transition: $transition;
      background-color: rgba($black, 0.6);
      @include media-breakpoint-down(sm) {
        opacity: 1;
        background-color: rgba($black, 0.4);
      }

    }

    .text {
      color: $white;
      width: 100%;
      font-size: 13px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      img {
        width: 20px;
        margin-right: 15px;
      }

      svg {
        width: 20px;
        height: auto;
        margin-right: 15px;

        path {
          fill: $white;
        }
      }
    }

    &:hover .overlay {
      opacity: 1;
    }

    &:nth-child(3n) {
      padding: 0 40px 0px 0;

      @include media-breakpoint-down(sm) {
        padding: 0 0px 40px 0;
      }

      @include media-breakpoint-down(md) {
        padding: 0 10px 20px 0;
      }
    }
  }
}
