.publications {
  padding: 10px 40px;
  transition: all 0.2s ease-in-out;
  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  &:hover {
    transition: all 0.2s ease-in-out;
  }

  a {
    transition: all 0.2s ease-in-out;
    &:hover {
      transition: all 0.2s ease-in-out;
      text-decoration: none;
    }
  }

  .filter {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    @include media-breakpoint-down(sm) {
      display: none;
    }

    li {
      margin-left: 20px;
      font-family: $font-sans-serif;
      line-height: 28px;
      font-size: 14px;
      cursor: pointer;
      color: $grey;
    }
  }

  select {
    display: none;
    width: 113px;
    position: absolute;
    top: -93px;
    right: 20px;
    @include media-breakpoint-down(sm) {
      display: flex;
    }
  }

  &-slider {
    box-sizing: border-box;

    .publication {
      .date_tag {
        margin-bottom: 5px;
      }

      .title {
        width: 70%;
        line-height: 22px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: $black;

        @include media-breakpoint-down(md) {
          width: 100%;
          word-break: break-all;
        }
      }

      p {
        @include media-breakpoint-down(sm) {
          margin-bottom: 0;
        }
      }

      img {
        max-width: 170px;
      }
    }

    .owl-item {
      @include media-breakpoint-down(sm) {
        margin-bottom: 40px;
      }
    }

    .owl-nav {
      display: none;
      @include media-breakpoint-down(sm) {
        display: flex;
        padding: 0 20px;
      }

      .owl-prev, .owl-next {
        width: 100%;
        height: 46px;
        background-color: $white !important;
        border: 1px solid $dark-white !important;
        &:active, &:focus {
          outline: 0;
          border: none;
        }
      }

      .owl-prev {
        margin-right: 20px;
      }
    }

    .owl-dots {
      display: flex;
      justify-content: center;
      margin: 30px 0;
      @include media-breakpoint-down(sm) {
        display: none;
      }

      .owl-dot {
        width: 30px;
        height: 3px;
        background: $black;
        margin-right: 10px;

        &.active {
          background: $blue;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
