.overview {
  header {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid $dark-white;

    .filter {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }
    .result-text {
      p {
        color: $black;

        b {
          font-weight: 600;
        }
      }
    }
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid $dark-white;

    &:last-child {
      border-bottom: none;
    }
  }

  .item {
    display: flex;
    padding: 20px 0;
    margin-bottom: 20px;
    @include media-breakpoint-down(sm) {
     .text {
       order: 2;
       margin-top: 15px;
     }
    }

    time {
      width: 370px;
      max-width: 370px;
      color: $grey;
    }

    small {
      float: right;
      font-weight: 500;
      color: $grey;
      @include media-breakpoint-down(sm) {
        float: left;
      }
    }

    img {
      max-width: 250px;
      float: right;

      @include media-breakpoint-down(sm) {
        max-width: 100%;
        margin-top: 10px;
      }
    }
  }

  &--minister {
    .news {
      .item {
        border-bottom: 1px solid #E5E9EC;
      }
    }
  }

}
