header {
  form {
    .form-control {
      border-radius: 0;
      border: none;
      height: 3rem;
      background: $white;

        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
            z-index: 0;
        }
    }

    .btn {
      background-color: $blue;
      border-radius: 0;
      border: 1px solid $blue;
      padding: 0.8rem;
      height: 3rem;
      box-sizing: border-box;
      line-height: .5;
      svg {
        path {
          fill: $white;
        }
      }
    }
  }
}
