<div class="row">
  <div class="col-md-12">
    <div class="headline_section">
      <h2>Vi er på social media!</h2>
      <div class="btns_some">
        Følg os
        <div class="divider"></div>
        <a class="btn_some" href="#"><img class="svg" src="assets/images/icons/twitter.svg" alt="Twitter icon"></a>
        <a class="svg btn_some" href="#"><img class="svg" src="assets/images/icons/instagram.svg" alt="Instagram icon"></a>
        <a class="svg btn_some" href="#"><img class="svg" src="assets/images/icons/linkedin.svg" alt="Linkein icon"></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 column">
    <!--=include ../../components/box/some.html -->
  </div>
  <div class="col-md-4 column">
    <!--=include ../../components/forms/newsletter-form.html -->
  </div>
</div>
