<div class="row">
    <div class="col-md-12">
        <div class="headline_section">
            <h2>Aktuelle nyheder</h2>
            <a class="btn_link" href="#">Se alle nyheder</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <!--=include ../../components/box/box_video.html -->
    </div>
    <div class="col-md-4">
        <!--=include ../../components/box/box_image.html -->
    </div>
    <div class="col-md-4">
        <!--=include ../../components/lists/links_list_bg-c.html -->
    </div>
</div>
