<div class="row">
  <div class="col-md-12">
    <div class="headline_section">
      <h2>Publikationer</h2>
      <a class="btn_link" href="#">Se alle publikationer</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!--=include ../../components/slider/publications.html -->
  </div>
</div>
