<div class="row">
    <div class="col-md-6">
        <!--=include ../../components/box/image_box.html -->
    </div>
    <div class="col-md-6">
        <!--=include ../../components/lists/article_list.html -->
    </div>
</div>
    