<div class="row lastest_news">
  <a href="#" class="col-sm-12 col-md-6">
    <div class="news_items">
      <div class="text">
        <small>30. januar 2019</small>
        <h4>Screening af mulighed for S-tog på Kystbanen</h4>
      </div>
      <div class="img">
        <img src="./assets/images/demo/news/news2.png" alt="train" />
      </div>
    </div>
  </a>
  <a href="#" class="col-sm-12 col-md-6">
    <div class="news_items">
      <div class="text">
        <small>28. januar 2019</small>
        <h4>Undersøgelse af ny motorvej i den sydlige Ring 5-korridor</h4>
      </div>
      <div class="img">
        <img src="./assets/images/demo/news/news3.png" alt="train" />
      </div>
    </div>
  </a>
  <a href="#" class="col-sm-12 col-md-6">
    <div class="news_items">
      <div class="text">
        <small>21. januar 2019</small>
        <h4>Ny landsbypulje skal styrke indsatsen for nedrivning og områdefornyelse</h4>
      </div>
      <div class="img">
        <img src="./assets/images/demo/news/news5.png" alt="train" />
      </div>
    </div>
  </a>
  <a href="#" class="col-sm-12 col-md-6">
    <div class="news_items">
      <div class="text">
        <small>13 januar 2019</small>
        <h4>Ny CEF-ansøgningsrunde: EU afsætter 100 millioner EUR til investering på bl.a. havneområdet</h4>
      </div>
      <div class="img">
        <img src="./assets/images/demo/news/news4.png" alt="train" />
      </div>
    </div>
  </a>
</div>
