<!-- <section class="overview"> -->
<div class="row overview overview--minister">
  <div class="offset-md-1 col-12 col-md-10">
    <header>
      <h1>Minister kaldender</h1>
      <div class="filter">
        <ul class="list list__months filter__months">
          <li class="list__months__item">
              Jan
            <!-- <a href="#">Jan</a> -->
          </li>
          <li class="list__months__item">
            <a href="#">Feb</a>
          </li>
          <li class="list__months__item">
            <a href="#">Mar</a>
          </li>
          <li class="list__months__item">
            <a href="#">Apr</a>
          </li>          
          <li class="list__months__item">
            <a href="#">Maj</a>
          </li> 
          <li class="list__months__item">
            <a href="#">Jun</a>
          </li> 
          <li class="list__months__item">
            <a href="#">Jul</a>
          </li> 
          <li class="list__months__item">
            <a href="#">Aug</a>
          </li> 
          <li class="list__months__item">
            <a href="#">Sep</a>
          </li> 
          <li class="list__months__item">
            <a href="#">Okt</a>
          </li> 
          <li class="list__months__item">
            <a href="#">Nov</a>
          </li> 
          <li class="list__months__item">
            <a href="#">Dec</a>
          </li> 
        </ul>

        <div class="filter__years">
          <select onchange="location = this.value;">
            <option selected>Seneste</option>
            <option value="https://unsplash.com/search/photos/sailing">2019</option>
            <option value="#">2018</option>
            <option value="#">2017</option>
          </select>
        </div>
      </div>
    </header>


    <div class="row news ">
      <div class="col-12">
        <div class="row item">
          <div class="col-12 col-md-2">
            <time datatime="2018-01-22">22. januar 2019</time>
          </div>

          <div class="col text">
            <h2>
              Transport-, bygnings- og boligministeren mødtes med Pat Cox
            </h2>
            <p>
              Transport-, bygnings- og boligminister Ole Birk Olesen mødtes
              tirsdag den 22. januar 2019 med TEN-T koordinator Pat Cox til en
              snak om Femern Bælt-projektet, det transeuropæiske transportnet
              (TEN-T) og de danske transport prioriteter ...
            </p>
          </div>
          <div class="col-12 col-md-3">
            <img src="./assets/images/demo/news/news1.png" alt="news" />
          </div>
        </div>
  
      
        <div class="row item">
          <div class="col-12 col-md-2">
            <time datatime="2018-01-22">21. januar 2019</time>
          </div>
          <div class="col text">
            <h2>
              Ny landsbypulje skal styrke indsatsen for nedrivning og
              områdefornyelse
            </h2>
            <p>
              Regeringen (V, LA og K) og Dansk Folkeparti har indgået aftale
              om kriterierne for Landsbypuljen, der skal styrke udviklingen i
              landsbyerne og det åbne land. Med aftalen udvides gruppen af
              ansøgningsberettigede kommuner, ligesom det sikres, at midlerne
              i Landsbypuljen fordeles til kommuner med det største behov.
            </p>
          </div>
        </div>
      
    
        <div class="row item">
          <div class="col-12 col-md-2">
            <time datatime="2018-01-22">01. decempter 2018</time>
          </div>
          <div class="col text">
            <h2>
              Screening af mulighed for S-tog på Kystbanen
            </h2>
            <p>
              Transport-, bygnings- og boligminister Ole Birk Olesen
              præsenterede i dag på et møde med fire nordsjællandske
              borgmestre og regionsrådsformanden for Region Hovedstaden
              muligheden for at igangsætte en screening af muligheden for
              S-tog til Helsingør.
            </p>
          </div>
          <div class="col-12 col-md-3">
            <img src="./assets/images/demo/news/news2.png" alt="news" />
          </div>
        </div>
     
     
        <div class="row item">
          <div class="col-12 col-md-2">
            <time datatime="2018-01-22">14. november 2018</time>
          </div>
          <div class="col text">
            <h2>
              Undersøgelse af ny motorvej i den sydlige Ring 5-korridor
            </h2>
            <p>
              Regeringen (V, LA og K) er sammen med Socialdemokratiet og Dansk
              Folkeparti enige om en anmeldelsesordning, som skal give
              kommunerne bedre muligheder for at forhindre, at sundheds- eller
              brandfarlige boliger bliver udlejet til beboelse. Med den nye
              ordning skal udlejere af visse boliger anmelde til kommunen, at
              de ønsker ...
            </p>
          </div>
          <div class="col-12 col-md-3">
            <img src="./assets/images/demo/news/news3.png" alt="news" />
          </div>
        </div>
   
     
        <div class="row item">
          <div class="col-12 col-md-2">
            <time datatime="2018-01-22">06. juli 2018</time>
          </div>
          <div class="col text">
            <h2>
              Ny landsbypulje skal styrke indsatsen for nedrivning og
              områdefornyelse
            </h2>
            <p>
              Regeringen (V, LA og K) og Dansk Folkeparti har indgået aftale
              om kriterierne for Landsbypuljen, der skal styrke udviklingen i
              landsbyerne og det åbne land. Med aftalen udvides gruppen af
              ansøgningsberettigede kommuner, ligesom det sikres, at midlerne
              i Landsbypuljen fordeles til kommuner med det største behov.
            </p>
          </div>
        </div>

        <div class="row item">
          <div class="col-12 col-md-2">
            <time datatime="2018-01-22">15. april 2018</time>
          </div>
          <div class="col text">
            <h2>
              Ny CEF-ansøgningsrunde: EU afsætter 100 millioner EUR til
              investering på bl.a. havneområdet
            </h2>
            <p>
              Den 5. december 2018 offentliggjorde INEA en ny ansøgningsrunde
              for CEF Transport. Ansøgningsrunden afsætter 100 millioner EUR
              til projekter på det samlede net samt udviklingen af søhavne
              (samlet net) og til projekter om reduktion af ...
            </p>
          </div>
          <div class="col-12 col-md-3">
            <img src="./assets/images/demo/news/news4.png" alt="news" />
          </div>
        </div>

        <div class="row item">
          <div class="col-12 col-md-2">
            <time datatime="2018-01-22">06. juli 2018</time>
          </div>
          <div class="col text">
            <h2>
              Garanti for licenser til taxier med nulemission
            </h2>
            <p>
              Et bredt politisk flertal (V, LA, K, S, DF, RV og SF) vil ændre
              loven, så der i 2019 og 2020 er garanti for en taxitilladelse
              til op til 300 nulemissionstaxier.
            </p>
          </div>
        </div>

        <div class="row item">
          <div class="col-12 col-md-2">
            <time datatime="2018-01-22">03. marts 2018</time>
          </div>
          <div class="col text">
            <h2>
              Regeringen vil samle Hovedstadens offentlige transport
            </h2>
            <p>
              Som led i regeringens kommende hovedstadsudspil vil regeringen
              fremtidssikre den offentlige transport i hovedstadsområdet ved
              at organisere hele den kollektive trafik i én samlet stærk
              organisation, Hovedstadens ...
            </p>
          </div>
          <div class="col-12 col-md-3">
            <img src="./assets/images/demo/news/news5.png" alt="news" />
          </div>
        </div>

      <div class="col-12">
        <button class="btn_loadmore">Indlæs flere</button>
      </div>
    </div>
  </div>
</div>
<!-- </section> -->
