.lastest_news {
    a {
        text-decoration: none;
        color: $black;
    }
    .news_items {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-top: 1px solid $dark-white;
        cursor: pointer;
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
        .img {
            img {
                width: 250px;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                }
            }
        }
    }
}