<div class="link_liste">
  <ul>
    <li>
      <a class="btn_list_link" href="#">Information til presse og medier</a>
    </li>
    <li><a class="btn_list_link" href="#">Ministerens kalender</a></li>
    <li><a class="btn_list_link" href="#">Ministeriet </a></li>
    <li><a class="btn_list_link" href="#">Job og karriere</a></li>
    <li>
      <a class="btn_list_link" href="#">Er din virksomhed klar til Brexit?</a>
    </li>
    <li><a class="btn_list_link" href="#">Link 6</a></li>
  </ul>
</div>
