<div class="row">
    <div class="col-md-12">
        <div class="headline_section">
            <h2>Øvrige temaer</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <!--=include ../../components/lists/links_list.html -->
    </div>
    <div class="col-md-4">
        <!--=include ../../components/lists/links_list.html -->
    </div>
    <div class="col-md-4">
        <!--=include ../../components/lists/links_list.html -->
    </div>
</div>
    