<section class="overview">
  <div class="row">
    <div class="offset-md-1 col-12 col-md-10">
      <header>
        <div class="filter">
          <h1>Søgeresultat</h1>
          <select>
            <option selected>Opdel din søgning</option>
            <option>Nyhed</option>
            <option>Job & Karriere</option>
            <option>Ministeren</option>
          </select>
        </div>
        <div class="search-input">
          <form action="#">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Indtast søgeord"
              />
              <div class="input-group-append">
                <button class="btn btn-outline-light" type="submit">
                  <svg
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M12.5231 11.3289L16.7532 15.559C17.0822 15.8881 17.0833 16.4205 16.7504 16.7535C16.4198 17.0841 15.879 17.0793 15.5559 16.7562L11.3258 12.5261C8.66893 14.5938 4.82577 14.4067 2.38366 11.9645C-0.261187 9.31969 -0.261187 5.03155 2.38366 2.38671C5.0285 -0.258135 9.31664 -0.258135 11.9615 2.38671C14.4036 4.82883 14.5908 8.67198 12.5231 11.3289ZM10.7643 10.7673C12.7479 8.78368 12.7479 5.56757 10.7643 3.58394C8.78062 1.6003 5.56452 1.6003 3.58089 3.58394C1.59725 5.56757 1.59725 8.78368 3.58089 10.7673C5.56452 12.7509 8.78062 12.7509 10.7643 10.7673Z"
                      fill="#19242E"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </form>
          <div class="result-text">
            <p>Der blev fundet 150 sider, der matcher din søgning på <b>"hus"</b></p>
          </div>
        </div>
      </header>
      <div class="row">
        <a href="#" class="col-12 nyhed">
          <div class="row item">
            <div class="col text">
              <h2>
                Regeringen vil udvide Københavns Lufthavns Station
              </h2>
              <p>
                Københavns Lufthavns Station kan ikke følge med
                passagerudviklingen, og derfor foreslår regeringen i forbindelse
                med sit kommende hovedstadsudspil at udvide stationen med to nye
                perroner. Udvidelsen vil give mulighed for flere direkte tog til
                lufthavnen og vurderes at være selvfinansierende, hvis den nye
                station kombineres med to parkeringshuse.
              </p>
            </div>
            <div class="col-12 col-md-2">
              <small>Nyhed</small>
            </div>
          </div>
        </a>
        <a href="#" class="col-12 job-karriere">
          <div class="row item">
            <div class="col text">
              <h2>
                Regeringen vil udvide Københavns Lufthavns Station
              </h2>
              <p>
                Københavns Lufthavns Station kan ikke følge med
                passagerudviklingen, og derfor foreslår regeringen i forbindelse
                med sit kommende hovedstadsudspil at udvide stationen med to nye
                perroner. Udvidelsen vil give mulighed for flere direkte tog til
                lufthavnen og vurderes at være selvfinansierende, hvis den nye
                station kombineres med to parkeringshuse.
              </p>
            </div>
            <div class="col-12 col-md-2">
              <small>Job & Karriere</small>
            </div>
          </div>
        </a>
        <a href="#" class="col-12 ministeren">
          <div class="row item">
            <div class="col text">
              <h2>
                Medarbejder i departementetRegeringen vil udvide Københavns
                Lufthavns Station
              </h2>
              <p>
                Som medarbejder i Transport-, Bygnings- og Boligministeriet er
                du med til at skabe konkrete, fysiske og synlige resultater, der
                berører alle mennesker i deres dagligdag.
              </p>
            </div>
            <div class="col-12 col-md-2">
              <small>Ministeren</small>
            </div>
          </div>
        </a>
        <a href="#" class="col-12 ministeren">
          <div class="row item">
            <div class="col text">
              <h2>
                Minister og rådmand prøvekører elløbehjul
              </h2>
              <p>
                Ole Birk Olesen og Bünyamin Simsek prøvekørte elektriske
                løbehjul i Aarhus. Sammen markerede de, at det 17. januar blev
                lovligt at køre med elløbehjul på de danske cykelstier.
              </p>
            </div>
            <div class="col-12 col-md-2">
              <small>Ministeren</small>
            </div>
          </div>
        </a>
        <a href="#" class="col-12 nyhed">
          <div class="row item">
            <div class="col text">
              <h2>
                Ole Birk Olesen: Det er tid til et endeligt opgør med
                parallelsamfund
              </h2>
              <p>
                DEBAT: Parallelsamfund hører ikke hjemme i et veludviklet land
                som Danmark. Gennem omfattende renoveringer og boligsociale
                investeringer kan vi i 2030 leve i et land uden parallelsamfund,
                skriver boligminister Ole Birk Olesen (LA) og boligordførere på
                tværs af partierne.
              </p>
            </div>
            <div class="col-12 col-md-2">
              <small>Nyhed</small>
            </div>
          </div>
        </a>
        <a href="#" class="col-12 ministeren">
          <div class="row item">
            <div class="col text">
              <h2>
                Ny ordning skal modvirke udlejning af ubeboelige boliger
              </h2>
              <p>
                Regeringen (V, LA og K) er sammen med Socialdemokratiet og Dansk
                Folkeparti enige om en anmeldelsesordning, som skal give
                kommunerne bedre muligheder for at forhindre, at sundheds- eller
                brandfarlige boliger bliver udlejet til beboelse. Med den nye
                ordning skal udlejere af visse boliger anmelde til kommunen, at
                de ønsker at leje en bolig ud og kommunen får dermed lettere ved
                at gribe ind, hvis en bolig ikke er egnet til beboelse.
              </p>
            </div>
            <div class="col-12 col-md-2">
              <small>Ministeren</small>
            </div>
          </div>
        </a>
        <div class="col-12">
          <button class="btn_loadmore">Indlæs flere</button>
        </div>
      </div>
    </div>
  </div>
</section>