select {
  width: 220px;
  padding: 5px 35px 5px 15px;
  font-size: 15px;
  border: 1px solid $dark-white;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../assets/images/icons/arrow_down.svg") 92% / 15% $white no-repeat;
  background-size: 14px;
  cursor: pointer;
  transition: $transition;

  &:focus {
    outline: none;
    box-shadow: $shadow;
  }
  option {
    transition: $transition;
    &:focus {
      outline: none;
    }
  }
}

/* CAUTION: IE hackery ahead */

select::-ms-expand {
  display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width: 0\0) {
  select {
    background: none\9;
    padding: 5px\9;
  }
}
