.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}
.row {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
