.container-fluid, .grid-section {
  & > div {
    padding: 0 100px;

    @include media-breakpoint-down(md) {
      padding: 0 20px;
    }
    @include media-breakpoint-down(sm) {
      padding: 0;
      margin-bottom: 60px;
    }

    &:first-child {
      padding: 0;
    }

    // &:last-child {
    //   margin-bottom: 0;
    // }

    & > .col-md-12, & > .col-sm-12, & > .col-12 {
      .headline_section {
        padding: 0 20px;
      }

      @include media-breakpoint-down(md) {
        margin-bottom: 40px;
      }

      // &:last-child {
      //   margin-bottom: 0;
      // }
    }
  }
}

footer .container-fluid {
  & > .row {
    padding-right: 100px;
    padding-left: 100px;

    @include media-breakpoint-down(md) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

.row {
  margin-bottom: 100px;
  
  .row {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
}

  .col-md-4,
  .col-md-6,
  .col-md-8 {
    padding: 0 20px;

  .col-md-8,
  .col-md-12 {
    padding: 0 40px;


    @include media-breakpoint-down(md) {
      padding: 0 10px;
    }
  }

  .col-md-12 {
    &:first-child {
      padding: 0;
    }
  }
}

.col-md-12 {
  // padding-right: 0;
  // padding-left: 0;

  .headline_section {
    padding: 0 20px;
  }
}

.col-md-4 {
  @include media-breakpoint-down(sm) {
    margin-bottom: 50px;
  }
  // .box-image, .box-video, .box-text, .link_liste, .article-list {
  
  // }
}

// .box-image, .box-video  {
//   @include media-breakpoint-down(sm) {
//     margin-bottom: 50px;
//   }
// }

.row--wide {
  margin-left: -15px;
  margin-right: -15px;
  @include media-breakpoint-down(sm) {
    margin-left: -30px;
    margin-right: -30px;
  }
}
