h1 {
    line-height: 40px;
    font-size: 34px;
    color: $black;
    margin-bottom: 20px;
    font-family: $font-sans-serif;

    @include media-breakpoint-down(sm) {
        line-height: 26px;
        font-size: 20px;
        font-weight: 600;
    }
}

h2 {
    line-height: 28px;
    font-size: 24px;
    font-weight: 600;
    color: $black;
    font-family: $font-sans-serif;
}

h3 {
    line-height: 22px;
    font-size: 16px;
    color: $black;
    font-family: $font-sans-serif;
    font-weight: 600;
}

h4,
.h4 {
    line-height: 28px;
    font-size: 18px;
    font-weight: 600;
    font-family: $font-sans-serif;

    @include media-breakpoint-down(sm) {
        line-height: 22px;
        font-size: 16px;
    }
}

p {
    line-height: 26px;
    font-size: 16px;
    color: $black;
    font-family: $font-sans-serif;
    
    @include media-breakpoint-down(sm) {
        line-height: 22px;
        font-size: 14px;
    }
}

.date_tag {
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    color: $dark-grey;
    margin: 10px 0;
    font-family: $font-sans-serif;
}

.tag {
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    color: $grey;
    font-family: $font-sans-serif;
}
