// fonts
$font-sans-serif: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;

// colors
$white: #ffffff;
$dark-white: #E5E9EC;
$black: #19242E;
$dark-grey: #8A8A8A;
$medium-grey: #ADADAD;
$grey: #595959;
$light-grey: #E5E5E5;
$dark-blue: #19242E;
$blue: #00A9E0;
$yellow:#F0BB41;


// linar background color
$linar: linear-gradient(97.52deg,rgba(#FEFEFE, .9) 17.37%, rgba(#F1F4F7, .8) 74.17%);
// screen size
$small-screen: 800px;
$medium-screen: 1024px;
$large-screen: 1280px;
$x-large-screen: 1600px;

// transitions
$transition: all 0.2s ease-in-out;
$transition-slow: all 0.4s ease-in-out;

// box shadow
$shadow: 4px 8px 20px rgba(0, 0, 0, 0.03);
$shadow-hover: 4px 8px 20px rgba(0, 0, 0, 0.1);
