<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./assets/js/app.js"></script>
<footer>
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-md-4">
        <div class="content">
          <h4>
            Kontakt
          </h4>
          <div class="content__info">
            <p>
              Transport-, Bygnings- og Boligministeriet<br />
              Frederiksholms Kanal 27 F<br />
              1220 København K <br />
            </p>
          </div>
          <div class="content__info">
            <p>
              T: 41 71 27 00 <br />
              EAN: 5798000893429 <br />
              CVR: 43265717
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <h4>Skriv til os</h4>
          <a class="email" href="trm@trm.dk">trm@trm.dk</a>
          <h4>Telefontid</h4>
          <div class="content__info">
            <p>Mandag-torsdag: kl. 09.00-16.00 <br />Fredag: kl. 09.00-15.30</p>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <h4>Institutioner</h4>
          <div class="link_liste">
            <ul>
              <li>
                <a class="btn_list_link" href="#"
                  >Information til presse og medier</a
                >
              </li>
              <li><a class="btn_list_link" href="#">Banedanmark</a></li>
              <li><a class="btn_list_link" href="#">Bygningsstyrelsen </a></li>
              <li><a class="btn_list_link" href="#">Havarikommissionen</a></li>
              <li>
                <a class="btn_list_link" href="#"
                  >Kommissarius ved Statens Ekspropriationer i Jylland</a
                >
              </li>
              <li>
                <a class="btn_list_link" href="#"
                  >Kommissarius ved Statens Ekspropriationer på Øerne</a
                >
              </li>
              <li>
                <a class="btn_list_link" href="#"
                  >Trafik-, Bygge- og Boligstyrelsen</a
                >
              </li>
              <li><a class="btn_list_link" href="#">Vejdirektoratet</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer-bottom">
      <div class="col-md-4">
        <small>© 2019 Transport-, Bygnings- og Boligministeriet</small>
      </div>
      <div
        class="col-md-4 d-flex justify-content-sm-start justify-content-md-center"
      >
        <div class="btns_some">
          <a class="btn_some" href="#"
            ><img
              class="svg"
              src="assets/images/icons/twitter.svg"
              alt="Twitter icon"
          /></a>
          <a class="svg btn_some" href="#"
            ><img
              class="svg"
              src="assets/images/icons/instagram.svg"
              alt="Instagram icon"
          /></a>
          <a class="svg btn_some" href="#"
            ><img
              class="svg"
              src="assets/images/icons/linkedin.svg"
              alt="Linkein icon"
          /></a>
        </div>
      </div>
      <div
        class="col-md-4 d-flex justify-content-sm-start justify-content-md-end"
      >
        <a href="#">Privacy & cookies policy</a>
      </div>
    </div>
  </div>
</footer>
