<nav class="navbar navbar-expand-lg navbar-light" aria-label="Primary navigation">
  <!-- Bypass Block for web accessibility -->
  <a class="bypass-block" href="#main-content">Skip to main content</a>
  <a class="navbar-brand" href="#">
    <img src="./assets/images/logo/logo.svg" alt="trm logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-menu" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <div class="navbar-toggler-icon"><span></span><span></span><span></span></div>
  </button>

  <div class="collapse navbar-collapse" id="top-menu">
    <div class="top-nav">
      <ul>
        <li><a href="#">Presse</a></li>
        <li><a href="#">Publikationer</a></li>
        <li><a href="#">Politiske aftaler</a></li>
        <li><a href="#">Job og karriere</a></li>
        <li><a href="#">Cookies</a></li>
      </ul>
      <a class="lang" href="#">En</a>
    </div>
    <div class="bottom-nav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Ministeriet <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ministeren</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Nyheder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Publiakationer</a>
              </li>
        </ul>
        <img class="search_icon search-js" src="./assets/images/icons/loop.svg" alt="search icon">
        
    </div>
    <div class="search-field search-field-js" role="search">
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" name="search" class="form-control" id="searchInput" required aria-labelledby="menu-search">
            <label id="menu-search" for="menu-search">Indtast søgeord</label>
          </div>
          <button type="submit" class="btn btn_search">Søg</button>
        </form>
    </div>
  </div>
</nav>
