﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

@{ var selection = Model.Content.Ancestors().ToArray(); }

@if (selection.Length > 0)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @foreach (var item in selection.OrderBy(x => x.Level))
            {
                if (item.DocumentTypeAlias == "articlesContainer")
                {
                    <li class="breadcrumb-item"><a>@item.Name</a></li>
                }
               
                else
                {
                    <li class="breadcrumb-item"><a href="@item.Url">@item.Name</a></li>
                }
            }
            <li class="breadcrumb-item active" aria-current="page">@Model.Content.Name</li>
        </ol>
    </nav>

}