<div class="article-list bg-color bg-white">
    <h2>Flere publikationer</h2>
    <ul>
        <li>
            <a href="#">
                <small class="date_tag">09. januar 2019</small>
                <p>Strategi for cyber- og informationssikkerhed 2019-2021 i transportsektoren</p>
            </a>
        </li>
        <li>
            <a href="#">
                <small class="date_tag">07. januar 2019</small>
                <p>Anlægsstatus 2. halvår 2018</p>
            </a>
        </li>
        <li>
            <a href="#">
                <small class="date_tag">13. december 2018</small>
                <p>Idekatalog over kollektive mobilitetsløsninger for en fast Kattegatforbindelse</p>
            </a>
        </li>
    </ul>

    <a class="btn_list_link" href="/english-home-page/" target="_blank">
        Læs mere
    </a>
</div>