<div class="article-list">
    <h2>Taler og artikler</h2>
    <a class="btn_link" href="#">Se mere</a>
    <ul>
        <li>
            <a href="#">
                <small class="date_tag">09. januar 2019</small>
                <p>Debat: Kollektiv trafik foregår ikke kun på skinner</p>
            </a>
        </li>
        <li>
            <a href="#">
                <small class="date_tag">07. januar 2019</small>
                <p>Ole Birk Olesen: Det er tid til et endeligt opgør med parallelsamfund</p>
            </a>
        </li>
        <li>
            <a href="#">
                <small class="date_tag">13. december 2018</small>
                <p>Samarbejde i stedet for at pege fingre ad hinanden</p>
            </a>
        </li>
        <li>
            <a href="#">
                <small class="date_tag">13. december 2018</small>
                <p>Uden Lynetteholm kan vækstmotoren gå i stå</p>
            </a>
        </li>
        <li>
            <a href="#">
                <small class="date_tag">09. januar 2019</small>
                <p>Debat: Kollektiv trafik foregår ikke kun på skinner</p>
            </a>
        </li>
        
    </ul>
</div>