<div class="download-list">
  <div class="headline">
    <h3>Links</h3>
  </div>
  <div class="liste">
    <div class="item">
      <small class="type">PDF</small>
      <p>FAKTAARK 1: Én samlet offentlig transportorganisation</p>
      <div class="bottom">
        <small class="size">1,02MB</small>
        <a href="#">Download</a>
      </div>
    </div>
    <div class="item">
      <small class="type">PDF</small>
      <p>FAKTAARK 2: Indbyggertal og bestyrelsesposter</p>
      <div class="bottom">
        <small class="size">1,02MB</small>
        <a href="#">Download</a>
      </div>
    </div>
    <div class="item">
      <small class="type">PDF</small>
      <p>FAKTAARK 3: Kort og skinnesystemer</p>
      <div class="bottom">
        <small class="size">1,02MB</small>
        <a href="#">Download</a>
      </div>
    </div>
    <div class="item">
      <small class="type">PDF</small>
      <p>FAKTAARK 4: Indbyggertal og bestyrelsesposter</p>
      <div class="bottom">
        <small class="size">0,92MB</small>
        <a href="#">Download</a>
      </div>
    </div>
    <div class="item">
      <small class="type">PDF</small>
      <p>
        Initiativtekst: Regeringen vil fremtidssikre hovedstadens offentlige
        transport
      </p>
      <div class="bottom">
        <small class="size">1,92MB</small>
        <a href="#">Download</a>
      </div>
    </div>
  </div>
</div>
