<div class="download-list">
  <div class="headline">
    <h3>Flere publikationer</h3>
  </div>
  <div class="liste">
    <a href="#" class="item">
      <small class="type">07. januar 2019</small>
      <p>Strategi for cyber- og informationssikkerhed 2019-2021 i transportsektoren</p>
    </a>
    <a href="#" class="item">
      <small class="type">07. januar 2019</small>
      <p>Strategi for cyber- og informationssikkerhed 2019-2021 i transportsektoren</p>
    </a>
    <a href="#" class="item">
      <small class="type">04. januar 2019</small>
      <p>Anlægsstatus 2. halvår 2018</p>
    </a>
    <a href="#" class="item">
      <small class="type">04. januar 2019</small>
      <p>Anlægsstatus 2. halvår 2018</p>
    </a>
    <a href="#" class="item">
      <small class="type">23. december 2019</small>
      <p>Idekatalog over kollektive mobilitetsløsninger for en fast Kattegatforbindelser</p>
    </a>
    <a href="#" class="item">
      <small class="type">23. december 2019</small>
      <p>Idekatalog over kollektive mobilitetsløsninger for en fast Kattegatforbindelse</p>
    </a>
  </div>
</div>
