<section>
  <div class="row">
    <div class="offset-md-2 col-12 col-md-6">
      <header>
        <h1>Error 404: Ups, noget gik galt...</h1>
        <p>
          Beklager! Siden du søgte, findes ikke længere. Det kan skyldes, at
          indholdet ikke længere eksisterer, eller at det er flyttet til en
          anden placeringen. Det kan også skyldes, at hjemmesideadressen
          (www...) er stavet forkert.
        </p>
        <p>Prøv at søge efter indholdet i søgefeltet øverst på siden.</p>
      </header>
    </div>
    <div class="col-12">
      <button class="btn_loadmore">Til forsiden</button>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-12 col-md-7">
      <img src="./assets/images/demo/building.png" alt="station" />
    </div>
    <div class="col-12 col-md-3">
      <!--=include ../forms/newsletter-form.html -->
    </div>
  </div>
</section>
