<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Forside</a></li>
    <li class="breadcrumb-item"><a href="#">Nyheder</a></li>
    <li class="breadcrumb-item"><a href="#">2019</a></li>
    <li class="breadcrumb-item active" aria-current="page">Screening af mulighed for S-tog på Kystbanen</li>
  </ol>
</nav>
