<!--=include base/head.html -->
  <body>
    <!--=include base/navbar.html -->
    <!--=include components/article/breadcrumb.html -->
    <article id="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="offset-md-1 col-12 col-md-8 col-lg-7">
            <header>
              <h1>Regeringen vil samle Hovedstadens offentlige transport</h1>
              <p>
                Som led i regeringens kommende hovedstadsudspil vil regeringen
                fremtidssikre den offentlige transport i hovedstadsområdet ved
                at organisere hele den kollektive trafik i én samlet stærk
                organisation, Hovedstadens Offentlige Transport (HOT).
                Hovedstadens Offentlige Transport skal styrke sammenhængen på
                tværs af transportformer og sikre, at den kollektive trafik er
                et attraktivt tilbud, som tiltrækker flere passagerer end i dag.
                Der er fundet inspiration i sammenlignelige europæiske byer,
                hvor der er succes med at organisere den kollektive trafik på
                tværs af transportformer.
              </p>
            </header>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-8">
            <img src="./assets/images/demo/train.png" alt="train" />
            <div class="alt">Foto: Ulrik Jantzen</div>
          </div>
          <div class="col-12 col-md-3">
            <blockquote>
              <img
                class="quote-icon"
                src="./assets/images/icons/quote.svg"
                alt="quote"
              />
              <p>
                “Der er et stort behov for at fremtidssikre den kollektive
                trafik i hovedstadsområdet.”
              </p>
            </blockquote>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-1 col-12 col-md-8 col-lg-7">

            <div class="creative-commons-license">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                  <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
                </a>
                <br/>
                This work is licensed under a 
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                  Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
                </a>
            </div>
            <h2>Dette er en h2 overskrift</h2>
            <p><strong>21. Januar 2019</strong></p>
            <p>
              Flere borgere, flere biler og mere trafik. Der forventes en
              betydelig stigning i trængslen i hovedstadsområdet i de kommende
              år. Befolkningsvæksten fortsætter, og der kommer mere trafik på
              vejene. Regeringen mener, at den offentlige kollektive transport
              spiller en væsentlig rolle i at mindske trængslen og i at sikre
              hovedstadsområdet som et tilgængeligt og attraktivt sted at bo og
              arbejde for så mange som muligt.
            </p>
            <p>
              - Der er et stort behov for at fremtidssikre den kollektive trafik
              i hovedstadsområdet. Et effektivt og ikke mindst attraktivt
              kollektivt trafiknet er afgørende for, at københavnerne ikke skal
              drukne i trængsel, fortæller transport-, bygnings- og
              boligminister Ole Birk Olesen.
            </p>
            <p>
              Den offentlige kollektive transport i hovedstadsområdet består af
              en række forskellige transporttilbud – metro, bus, privatbane,
              S-tog og snart den kommende letbane. Regeringen mener, at borgerne
              skal møde et veltilrettelagt og smidigt kollektivt trafiknetværk,
              der fremstår som et sammenhængende transporttilbud og i fremtiden
              i endnu højere grad kan være en attraktiv konkurrent til bilen.
              For at imødegå den stigende trængsel skal flere rejse med den
              kollektive transport.
            </p>
            <p>
              - Som samfund investerer vi mange penge i den offentlige transport
              og vi skal have det bedste produkt, vi kan få for de penge. Jeg
              mener, at en ny stærk samlet organisering af den kollektive trafik
              vil udfri et stort potentiale, forklarer transport-, bygnings- og
              boligminister Ole Birk Olesen.
            </p>
            <p>
              Det vil regeringen sikre ved, at én samlet stærk
              transportorganisation fremover skal varetage planlægning og
              kundevendte aktiviteter vedrørende offentlig kollektiv trafik på
              tværs af transportformerne bus, metro, letbane, privatbaner og
              S-tog. Denne type organisering kendes fra udlandet, hvor blandt
              andet München, Oslo, London og Helsinki har succes med dette.
            </p>
            <p>
              Den nye transportorganisation, Hovedstadens Offentlige Transport
              (HOT), skal fremtidssikre den kollektive trafik og sikre et
              attraktivt og konkurrencedygtigt tilbud til borgerne.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-1 col-sm-12 col-md-8 col-lg-7 d-flex">
            <blockquote>
              <img
                class="quote-icon"
                src="./assets/images/icons/quote.svg"
                alt="quote"
              />
              <p>
                “Jeg har store forventninger til, at en ny samlet
                transportorganisation kan løfte den kollektive trafik i
                hovedstadsområdet, så denne sektor bliver en reel del af
                løsningen på trængselsproblemerne””
              </p>
              <p class="author">- Ole Birk Olesen, ministeren</p>
            </blockquote>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-1 col-sm-12 col-md-8 col-lg-7">
            <h3>Dette er en h3 overskrift</h3>
            <p><strong>Hovedstadens Offentlige Transport</strong></p>
            <p>
              Regeringen vil etablere organisationen som et samarbejde mellem
              staten og hovedstadsområdets 34 kommuner. Den nye
              transportorganisation skal sikre en bedre sammenhæng på tværs af
              de forskellige offentlige transportformer og samtidig åbne den
              offentlige transport for samarbejdet med private og deleøkonomiske
              transportformer, der kan understøtte integrerede dør-til-dør
              rejser.
            </p>
            <p>
              - Jeg har store forventninger til, at en ny samlet
              transportorganisation kan løfte den kollektive trafik i
              hovedstadsområdet, så denne sektor bliver en reel del af løsningen
              på trængselsproblemerne, fortæller ministeren.
            </p>
          </div>
        </div>
        <div class="row row-eq-height">
          <div class="col-lg-8 col-md-12">
            <!--=include components/lists/download-list.html -->
          </div>
          <div class="col-lg-4 col-md-12">
            <!--=include components/forms/newsletter-form.html -->
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-8">
            <img src="./assets/images/demo/train2.png" alt="train" />
            <div class="alt">Foto: Ulrik Jantzen</div>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-1 col-12 col-md-8 col-lg-7">
            <h2>Videoportræt af Ole Birk Olesen</h2>
            <p>
              Mød transport-, bygnings- og boligministeren og hør ham forklare
              om sin politiske vision i portrættet fra Regeringen.dk.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="video" data-embed="HBnMoWwxq2A">
              <svg
                version="1.1"
                id="play"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                height="100px"
                width="100px"
                viewBox="0 0 100 100"
                enable-background="new 0 0 100 100"
                xml:space="preserve"
              >
                <path
                  class="stroke-solid"
                  fill="none"
                  stroke="#fff"
                  d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
                       C97.3,23.7,75.7,2.3,49.9,2.5"
                />
                <path
                  class="icon"
                  fill="#fff"
                  d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z"
                />
              </svg>
              <img
                src="assets/images/demo/box-video.png"
                alt="Man with glasses"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-1 col-sm-12 col-md-8 col-lg-7">
            <p>
              Regeringen vil etablere organisationen som et samarbejde mellem
              staten og hovedstadsområdets 34 kommuner. Den nye
              transportorganisation skal sikre en bedre sammenhæng på tværs af
              de forskellige offentlige transportformer og samtidig åbne den
              offentlige transport for samarbejdet med private og deleøkonomiske
              transportformer, der kan understøtte integrerede dør-til-dør
              rejser.
            </p>
            <p>
              - Jeg har store forventninger til, at en ny samlet
              transportorganisation kan løfte den kollektive trafik i
              hovedstadsområdet, så denne sektor bliver en reel del af løsningen
              på trængselsproblemerne, fortæller ministeren.
            </p>
          </div>
        </div>
        <div class="row row-eq-height">
          <div class="col-12 col-lg-8">
            <img src="./assets/images/demo/station.png" alt="station" />
          </div>
          <div class="col-12 col-lg-4">
            <!--=include components/lists/links_list_bg-c.html -->
          </div>
        </div>
      </div>
    </article>
    <!--=include base/footer.html -->
  </body>
</html>
