<!--=include base/head.html -->
<body>
  <!--=include base/navbar.html -->
  <main id="main-content">
    <div class="container-fluid">
        <!--=include sections/frontpage/one-col.html -->

        <!--=include sections/frontpage/three-col.html -->
        <!--=include sections/frontpage/two-col.html -->
    
        <!--=include sections/frontpage/one-col_info_box.html -->
        <!--=include sections/frontpage/one-col_info_box-icons.html -->

        <!--=include sections/frontpage/eight-four-col.html -->
        <!--=include sections/frontpage/twelve-col.html -->
        <!--=include sections/frontpage/three-col_links_lists.html -->
    </div>
  </main>
  <!--=include base/footer.html -->
  
</body>
</html>
