<!--=include base/head.html -->
  <body>
    <!--=include base/navbar.html -->

    <main id="main-content">
      <div class="container-fluid">
        <div class="row" style="margin-bottom: 0;">
          <div class="col-md-12">
            <div class="link_liste bg-white" style="padding: 100px;">
              <h3>Links</h3>
              <ul>
                <li>
                  <a class="btn_list_link" target="_blank" href="./front.html">Forside</a>
                </li>
                <li><a class="btn_list_link" target="_blank" href="./article.html">Artikel</a></li>
                <li><a class="btn_list_link" target="_blank" href="./ministeriet.html">Ministeriet </a></li>
                <li><a class="btn_list_link" target="_blank" href="./ministeren.html">Ministeren </a></li>
                <li><a class="btn_list_link" target="_blank" href="./news.html">Nyheder</a></li>
                <li><a class="btn_list_link" target="_blank" href="./teamer.html">Temaer</a></li>
                <li><a class="btn_list_link" target="_blank" href="./minister-kaldender.html">Minister kaldender</a></li>
                <li><a class="btn_list_link" target="_blank" href="./search.html">Søg</a></li>
                <li><a class="btn_list_link" target="_blank" href="./404.html">404</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--=include base/footer.html -->
  </body>
</html>
