<!--=include base/head.html -->
  <body>
    <!--=include base/navbar.html -->
    <main id="main-content">
      <div class="container-fluid">
        <!--=include sections/ministeren/one-col.html -->
        <!--=include sections/ministeren/three-col.html -->
        <!--=include sections/ministeren/one-col_video.html -->
        <!--=include sections/ministeren/one-col_news.html -->
        <!--=include sections/ministeren/three-col_2.html -->
      </div>
    </main>
    <!--=include base/footer.html -->
  </body>
</html>
