<!--=include base/head.html -->
  <body>
    <!--=include base/navbar.html -->

    <main id="main-content">
      <div class="container-fluid">
          <!--=include sections/ministeriet/one-col.html -->
          <!--=include sections/ministeriet/three-col.html -->
          <!--=include sections/ministeriet/one-col2.html -->
          <!--=include sections/ministeriet/three-col_links_lists.html -->
          <!--=include sections/ministeriet/eight-four-col.html -->
      </div>
    </main>
    <!--=include base/footer.html -->
  </body>
</html>
