<!--=include base/head.html -->
  <body>
    <!--=include base/navbar.html -->
    <!--=include components/article/breadcrumb.html -->
    <main id="main-content">
      <div class="container-fluid">
        <!--=include components/news/overview.html -->
      </div>
    </main>

    <!--=include base/footer.html -->
  </body>
</html>
