<!--=include base/head.html -->
  <body>
    <!--=include base/navbar.html -->
    <!--=include components/article/breadcrumb.html -->
    <main id="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="offset-md-1 col-12 col-md-8">
            <header>
              <h1>Temaer</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </header>
          </div>
        </div>
        <div class="row row-eq-height cards">
          <div class="col-lg-4 col-md-6 col-sm-12">
            
            <a href="#">
              <div class="card">
                <img
                  class="card-img-top"
                  src="./assets/images/demo/cards/card1.png"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <small>Tema</small>
                  <h5 class="card-title">Femern Bælt-forbindelsen</h5>
                  <p class="card-text">
                    Femern Bælt-forbindelsen vil bestå af en firesporet motorvej
                    med nødspor og en dobbeltsporet, elektrificeret jernbane.
                    Forbindelsen forventes at kunne åbne for trafik i 2028.
                    Forbindelsen bliver udført som en sænketunnel.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="#">
              <div class="card">
                <img
                  class="card-img-top"
                  src="./assets/images/demo/cards/card2.png"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <small>Tema</small>
                  <h5 class="card-title">EU-puljer på transportområdet</h5>
                  <p class="card-text">
                    EU-støtteordningerne på transportområdet har stor betydning
                    for udviklingen af infrastrukturen og transportsektoren i EU
                    og i Danmark.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="#">
              <div class="card">
                <img
                  class="card-img-top"
                  src="./assets/images/demo/cards/card3.png"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <small>Tema</small>
                  <h5 class="card-title">
                    Undersøgelser af transportinfrastrukturprojekter på
                    ministeriets område
                  </h5>
                  <p class="card-text">
                    Der gennemføres løbende undersøgelser af nye
                    infrastrukturprojekter på transportområdet, og Transport-,
                    Bygnings- og Boligministeriet har udarbejdet en...
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="#">
              <div class="card">
                <img
                  class="card-img-top"
                  src="./assets/images/demo/cards/card5.png"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <small>Tema</small>
                  <h5 class="card-title">Mobilitet for fremtiden</h5>
                  <p class="card-text">
                    Transport-, bygnings- og boligminister Ole Birk Olesen
                    inviterede til en konference den 13. marts 2018, hvor det var
                    muligt at få indsigt i ekspertgruppen Mobilitet for fremtidens
                    rapport, som skulle danne grundlag for en mere politisk
                    diskussion om fremtidens transport.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="#">
              <div class="card">
                <img
                  class="card-img-top"
                  src="./assets/images/demo/cards/card4.png"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <small>Tema</small>
                  <h5 class="card-title">VW-sagen</h5>
                  <p class="card-text">
                    Efter Volkswagen har erkendt at have produceret dieselbiler
                    med ”snydesoftware” i USA, er det kommet frem, at også
                    dieselbiler produceret til det europæiske marked er forsynet
                    med emissionsbegrænsende udstyr, der ikke overholder gældende
                    regler.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!--=include components/temaer/links.html -->
      </div>
    </main>

    <!--=include base/footer.html -->
  </body>
</html>
