.breadcrumb {
  padding-left: 100px;
  padding-top: 40px;
  margin-bottom: 0;
  background-color: transparent;
  font-weight: 300;
  font-size: 12px;
  @include media-breakpoint-down(md) {
    padding: 20px;
  }
  &-item {
    & + & {
      padding-left: .2rem;

      &::before {
          padding-right: .2rem;
      }
    }

    &.active {
      color: $blue;
    }
    a {
      color: $grey;
    }
  }
}
