article {
  header {
    padding: 80px 0 0 0;

    @include media-breakpoint-down(md) {
      padding: 20px 0 0 0;
    }

    p {
      font-family: $font-sans-serif;
      color: $dark-grey;
      line-height: 28px;
      font-size: 20px;
      font-weight: light;
    }
  }

  h2,
  h3 {
    margin-bottom: 16px;
    font-weight: 500;
  }

  h3 {
    font-size: 20px;
    line-height: 26px;
  }

  img {
    width: 100%;
    height: auto;
    padding: 0 0 0 60px;

    @include media-breakpoint-down(md) {
      padding: 0px;
    }
  }

  .alt {
    font-size: 12px;
    color: $grey;
    margin-top: 10px;
    padding: 0 0 0 60px;
    
    @include media-breakpoint-down(md) {
      padding: 0px;
    }
  }

  
}
.creative-commons-license {
    margin-bottom: 1rem;

    a {
      font-weight: 600;
      color: $blue;
    }

    img {
      padding: 0;
      margin-bottom: 1rem;
      height: 31px;
      width: auto;
    }
  }