blockquote {
  position: relative;
  margin: 25px auto;
  .quote-icon {
    position: absolute;
    top: -55px;
    right: -55px;
    width: auto;
    height: 90px;
    opacity: 0.4;
  }
  p {
    font-family: $font-sans-serif;
    font-weight: 600;
    max-width: 500px;
    text-align: center;
  }

  &:after {
    content: "";
    position: absolute;
    margin: 0 auto;
    left: 20%;
    bottom: -10px;
    height: 1px;
    width: 60%; /* or 100px */
    border-bottom: 1px solid $yellow;
  }

  .author {
    color: $dark-grey;
    line-height: 32px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }
}
.col-md-3 {
  blockquote {
    margin: 0;
    width: 250px;

    p {
      max-width: 200px;
    }

    &:after {
        content: "";
        position: absolute;
        margin: 0 auto;
        left: 25%;
        bottom: -30px;
        height: 1px;
        width: 30%; /* or 100px */
        border-bottom: 1px solid $yellow;
      }
  }
}
