﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ArticlePage>
@{
    Layout = "Master.cshtml";
}

@Umbraco.RenderMacro("GetBreadcrumb")

<main id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-1 col-12 col-md-8 col-lg-7">
                <header>
                    <h1>
                        @Model.Title
                    </h1>
                    @Html.Raw(Model.Summary)
                    @if (!String.IsNullOrWhiteSpace(Model.OffentliggjortMedie))
                    {
                        <div class="alt">@Model.OffentliggjortMedie</div>
                    }
                </header>
            </div>
        </div>
        @if (Model.Image != null || !string.IsNullOrWhiteSpace(Model.Quote))
        {
            <div class="row">
                @if (Model.Image != null)
                {
                    <div class="col-12 col-md-8">
                        <img 
                             src="@Model.Image.GetCropUrl("ImgPicker")"
                             data-srcset="@Url.GetSrcSetUrls(Model.Image, "ImgPicker")"
                             data-src="@Url.GetCropUrl(Model.Image, "ImgPicker")"
                             sizes="auto" 
                             class="lazyload" 
                             alt="@Model.Image.GetPropertyValue("altText")" />

                        <div class="alt">@Model.ImageByline</div>
                    </div>
                }


                @if (!string.IsNullOrWhiteSpace(Model.Quote))
                {
                    <div class="col-12 col-md-3">
                        <blockquote>
                            <img class="quote-icon"
                                 src="~/assets/images/icons/quote.svg"
                                 alt="quote" />
                            <p>
                                @Model.Quote
                            </p>
                        </blockquote>
                    </div>
                }
            </div>
        }

        <div class="row">
            <div class="offset-md-1 col-12 col-md-8 col-lg-7">
                <p><strong>@Model.Date.ToString("dd. MMMM yyyy")</strong></p>
                <p>
                    @(Model.Body)
                </p>
            </div>
        </div>

        @Html.GetGridHtml(Model, "articleGrid", "bootstrap3-fluid")


    </div>
</main>
