﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = null;
    var root = Model.Content.Site();

    var GlobalSettings = root.GetPropertyValue<IPublishedContent>("globalSettings");
    var TypedGlobalSettings = new Setings(GlobalSettings);
    var currentPageId = UmbracoContext.Current.PageId;
    IPublishedContent currentNode = Umbraco.TypedContent(currentPageId);
    var currentPageUrl = currentNode.UrlAbsolute();
    bool isRestricted = GlobalSettings.GetPropertyValue<bool>("isRestricted");
    bool isAuthorized = true;
    var BaseUrl = Model.Content.Site().UrlAbsolute().TrimEnd('/');
    var IpAddress = "";
    var keywords = string.Empty;
    var siteTitle = !string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("metaTitle")) ? Model.Content.GetPropertyValue("metaTitle") : Model.Content.Name;


    if (Model.Content.GetPropertyValue<IEnumerable<string>>("metaKeywords") != null)
    {
        foreach (var tag in Model.Content.GetPropertyValue<IEnumerable<string>>("metaKeywords"))
        {
            keywords += @tag + ", ";
        }
        if (!string.IsNullOrEmpty(keywords))
        {
            keywords = keywords.Remove(keywords.Length - 2);
        }
    }

    IPublishedContent image = Model.Content.GetPropertyValue<IPublishedContent>("metaImage");
    IPublishedContent imageContent = Model.Content.GetPropertyValue<IPublishedContent>("image");


    if (isRestricted)
    {
        IpAddress = System.Web.HttpContext.Current.Request.ServerVariables["HTTP_X_FORWARDED_FOR"];
        if (string.IsNullOrEmpty(IpAddress))
        {
            IpAddress = System.Web.HttpContext.Current.Request.ServerVariables["REMOTE_ADDR"];
        }
        var Whitelist = TypedGlobalSettings.IPwhiteList.ToList();
        if (Whitelist != null)
        {

            if (Whitelist.Any(x => x.GetPropertyValue<string>("ipAddress") == IpAddress))
            {
                isAuthorized = true;
            }
            else
            {
                isAuthorized = false;
            }
        }
        else
        {
            isAuthorized = false;
        }
    }
    if (!isAuthorized)
    {
        Response.Redirect(TypedGlobalSettings.RedirectPage.Url); // 302
    }
}

@Html.Raw(TypedGlobalSettings.RenderInHead)

<!DOCTYPE html>
<html lang="da">
<head prefix="og: http://ogp.me/ns#">
    <!-- ANALYTICS-->
    <script type="text/plain" data-cookieconsent="statistics">
        <!-- Fill -->
    </script>
    <!--ANALYTICS END-->
    <!-- Cookie bot-->
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="02de804f-76ae-4d7f-bb35-c31704abe9ef" type="text/javascript" async></script>
    <!-- Cookie bot-->
    <!--Open Graph Metas-->
    <meta property="og:url" content="@currentPageUrl" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@(siteTitle)" />
    <meta property="og:description" content="@(Model.Content.GetPropertyValue("metaDescription"))" />
    <meta property="og:author" content="@(Model.Content.GetPropertyValue("metaAuthor"))" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />
    @if (image != null)
    {
        <meta property="og:image" content="@(Request.Url.Scheme + "://" + Request.Url.Host)@image.GetCropUrl("meta")" />
        <meta content="@image.GetPropertyValue("altText")" property="og:image:alt">

    }
    else if (imageContent != null)
    {
        <meta property="og:image" content="@(Request.Url.Scheme + "://" + Request.Url.Host)@imageContent.GetCropUrl("meta")" />
    }

    <meta property="og:site_name" content="@Model.Content.Name">
    <meta property="og:locale" content="da">

    @*Twiiter Tags*@
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@(Model.Content.GetPropertyValue<string>("metaTitle") != string.Empty ? Model.Content.GetPropertyValue("metaTitle") : Model.Content.Name)">
    <meta name="twitter:description" content="@(Model.Content.GetPropertyValue("metaDescription"))">
    <meta name="twitter:creator" content="@(Model.Content.GetPropertyValue("metaAuthor"))">
    <meta name="twitter:site" content="@currentPageUrl">

    @if (image != null)
    {
        <meta name="twitter:image" content="@(Request.Url.Scheme + "://" + Request.Url.Host)@image.GetCropUrl("meta")">
    }
    else if (imageContent != null)
    {
        <meta name="twitter:image" content="@(Request.Url.Scheme + "://" + Request.Url.Host)@imageContent.GetCropUrl("meta")">
    }

    <meta name="google-site-verification" content="aEkfaD4kVbZhiq4xTkR_rMmCqWsDV4axm41cZrGH6Ew">

    <link href="@(Request.Url.Scheme + "://" + Request.Url.Host)" rel="home">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta name="title" content="@(siteTitle)" />
    <meta name="description" content="@(Model.Content.GetPropertyValue<string>("metaDescription") != string.Empty ? Model.Content.GetPropertyValue("metaDescription") : Model.Content.GetPropertyValue("summary"))" />
    <meta name="author" content="@Model.Content.GetPropertyValue("metaAuthor")" />
    @if (isRestricted)
    {
        <meta name="robots" content="noindex,nofollow">
    }
    else
    {
        <meta name="robots" content="all">
    }

    <meta name="keywords" content="@keywords">

    <link href="~/assets/css/app.css" rel="stylesheet" />
    <title>@siteTitle</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/assets/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon/favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>



    @Html.Partial("TopMenu")

    @RenderBody()

    @Html.Partial("footer")

    @Html.Raw(TypedGlobalSettings.RenderInFooter)

    <script src="~/assets/js/app.min.js"></script>
    <script src="~/Scripts/components.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.1/lazysizes.min.js" async=""></script>



</body>
</html>
