﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<MinisterensKalender>

@{

    //Fix this page when we have time logic is working but really bad.

    Layout = "Master.cshtml";
    IPublishedContent NewsPicker = null;
    NewsPicker = Umbraco.TypedContent(Model.Content.Id);
    int months = 0;
    //Mybe we can use distory items to get data for the string array? ? look into that
    String[] allMonths = { "Januar", "Februar", "Marts", "April", "Maj", "Juni", "Juli", "August", "September", "Oktober", "November", "December" };


    int childrenCount = 0;
    //Cannot make it null at this point need to look into this
    var siblings = NewsPicker.Children;
    var allNews = NewsPicker.Children;
    //Shit logik fik når vi har tid det er for dumt (redo det hele så der ikke er left over code fra martin...)
    if (NewsPicker.Children.FirstOrDefault() != null)
    {

        if (NewsPicker.Children.FirstOrDefault().Children.FirstOrDefault() != null)
        {
            //Ministerens main page
            siblings = NewsPicker.Children.FirstOrDefault().Children.FirstOrDefault().Siblings();
            allNews = NewsPicker.Descendants().Where(x => x.DocumentTypeAlias == "articlePage");

        }
        else
        {
            //months
            allNews = NewsPicker.Descendants().Where(x => x.DocumentTypeAlias == "articlePage");
            siblings = NewsPicker.Siblings();

        }
    }
    else
    {
        siblings = NewsPicker.Siblings();
        allNews = NewsPicker.Children;
    }
    var siblings2 = Umbraco.AssignedContentItem.Parent.Siblings();

}

@Umbraco.RenderMacro("GetBreadcrumb")

@{

    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);

    int ItemsShown = 5;
    if (Model.Content.ItemsShown != 0)
    {
        ItemsShown = Model.Content.ItemsShown;
    }

    var sortedNews = allNews.OrderBy(x => x.GetPropertyValue<DateTime>("date"));
    var header = Model.Content.Heading;

    //years are taken from all items not folders
    var years = new List<string>();
    foreach (var year in allNews)
    {
        years.Add(year.GetPropertyValue<DateTime>("date").ToString("yyyy"));
    }



    <div class="row overview overview--minister">
        <div class="offset-md-1 col-12 col-md-10">
            <header>
                <h1>@header</h1>
                <div class="filter">
                    <ul class="list list__months filter__months">
                        @foreach (var month in siblings)
                        {
                            <li class="list__months__item">
                                <a href="@month.Url">@month.Name</a>
                            </li>
                            months++;
                        }
                        @if (months <= 12)
                        {
                            for (int i = months; i < allMonths.Length; i++)
                            {
                                <li class="list__months__item">
                                    @allMonths[i]
                                </li>
                            }
                        }

                    </ul>

                    <div class="filter__years">
                        <select id="select" onchange="location = this.value;">

                            <option id="@NewsPicker.Id" data-year="all" selected>@umbracoHelper.GetDictionaryValue("latest")</option>

                            @foreach (var year in years.Distinct())
                            {

                                var YearUrl = "";

                                if (NewsPicker.Children.FirstOrDefault() != null)
                                {
                                    if (NewsPicker.Children.ElementAtOrDefault(childrenCount).Children.FirstOrDefault() != null)
                                    {

                                        YearUrl = NewsPicker.Children.ElementAtOrDefault(childrenCount).Children.FirstOrDefault().Url;
                                    }
                                    else
                                    {
                                        YearUrl = NewsPicker.Parent.Parent.Children.ElementAtOrDefault(childrenCount).Children.FirstOrDefault().Url;
                                    }
                                    childrenCount++;
                                }
                                else
                                {
                                    YearUrl = NewsPicker.Url;
                                }
                                <option id="@NewsPicker.Id" value="@YearUrl" data-year="@year">@year</option>
                            }
                        </select>
                    </div>
                </div>
            </header>

            <hidden class="starting-items" data-startingitems="@ItemsShown"> </hidden>
            <div class="row news">
                <div class="col-12">
                    @foreach (var newsCollection in sortedNews.Reverse().Take(ItemsShown))
                    {
                        var news = new ArticlePage(newsCollection);
                        @*
                            <div class="klakkaka">
                        *@

                        <div class="row item">
                            <div class="col-12 col-md-2">
                                <time datatime="@news.Date.ToString("yyyy-MM-dd")">@news.Date.ToString("dd. MMMM yyyy")</time>
                            </div>
                            <div class="col text">
                                <h2>@news.Title</h2>
                                <p>@news.Summary</p>
                            </div>
                            <div class="col-12 col-md-3">
                                @if (news.Image != null)
                                {
                                    <img src="@news.Image.Url" alt="@news.Image.GetPropertyValue("altText")" />
                                }

                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-12">
                <button id="loadmore" class="btn_loadmore ">@umbracoHelper.GetDictionaryValue("Loadmore")</button>
            </div>
        </div>
    </div>

}
@{
    var Image = Model.Content.Image;
    <div class="row">

        @if (Image != null)
        {
            <div class="offset-md-1 col-12 col-md-7">
                <img src="@Image.GetCropUrl("notFound")" alt="@Image.GetPropertyValue("altText")" />
            </div>
        }

        <div class="col-12 col-md-3">

            @if (Model.Content.SubscribeToNewsletter != null)
            {
                Html.RenderPartial("SubscribeToNewsletterPartial", Model.Content.SubscribeToNewsletter);
            }
        </div>
    </div>
}


