﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<NewsPage>
@{
    Layout = "Master.cshtml";

    IPublishedContent NewsPicker = null;
}

@Umbraco.RenderMacro("GetBreadcrumb")


@if (Model.Content.NewsPicker != null)
{
    NewsPicker = Model.Content.NewsPicker;
}
else
{
    NewsPicker = Umbraco.TypedContent(Model.Content.Id);
}

@{

    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);

    var allNews = NewsPicker.Descendants().Where(x => x.IsVisible() && x.DocumentTypeAlias == "articlePage");
    int ItemsShown = 5;
    if (Model.Content.ItemsShown != 0)
    {
        ItemsShown = Model.Content.ItemsShown;
    }


    var sortedNews = allNews.OrderBy(x => x.GetPropertyValue<DateTime>("date"));
    var header = Model.Content.Heading;


    //years are taken from all items not folders
    var years = new List<string>();
    foreach (var year in allNews)
    {
        years.Add(year.GetPropertyValue<DateTime>("date").ToString("yyyy"));
    }
}
    <main class="main-content">

    <div class="row overview">
        <div class="offset-md-1 col-12 col-md-10">
            <header>
                <div class="filter">
                    <h1>@header</h1>
                    <div class="filter__years">
                        <select id="select">

                            <option id="@NewsPicker.Id" data-year="all" selected>@umbracoHelper.GetDictionaryValue("latest")</option>

                            @foreach (var year in years.Distinct())
                            {
                                <option id="@NewsPicker.Id" data-year="@year">@year</option>
                            }
                        </select>
                    </div>
                </div>
            </header>
            <hidden class="starting-items" data-startingitems="@ItemsShown"> </hidden>
            <div class="row news">

                @foreach (var newsCollection in sortedNews.Reverse().Take(ItemsShown))
                {
                    var news = new ArticlePage(newsCollection);
                    <a href="@news.Url" class="col-12">
                        <div class="row item">
                            <div class="col-12 col-md-2">
                                <time datatime="@news.Date.ToString("yyyy-MM-dd")">@news.Date.ToString("dd. MMMM yyyy")</time>
                            </div>
                            <div class="col text">
                                <h2>@news.Title</h2>
                                <p>@news.Summary</p>
                            </div>
                            <div class="col-12 col-md-3">
                                @if (news.Image != null)
                                {
                                    <picture>
                                        <source sizes="auto" class="lazyload" srcset="@Url.GetSrcSetUrls(news.Image,"ImgPicker")" />
                                        <img src="@news.Image.GetCropUrl("ImgPicker")" alt="@news.Image.GetPropertyValue("altText")" />
                                    </picture>
                                }

                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="col-12">
                <button id="loadmore" class="btn_loadmore ">@umbracoHelper.GetDictionaryValue("Loadmore")</button>
            </div>
        </div>
    </div>

@{
    var Image = Model.Content.Image;
    <div class="row">

        @if (Image != null)
        {
            <div class="offset-md-1 col-12 col-md-7">
                <img src="@Image.GetCropUrl("notFound")" alt="@Image.GetPropertyValue("altText")" />
            </div>
        }

        <div class="col-12 col-md-3">

            @if (Model.Content.SubscribeToNewsletter != null)
            {
                Html.RenderPartial("SubscribeToNewsletterPartial", Model.Content.SubscribeToNewsletter);
            }
        </div>
    </div>
}
</main>