﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<PageNotFound>

@{
    Layout = "Master.cshtml";
    var BodyText = Model.BodyText;
    var Title = Model.Title;
    IPublishedContent img = Model.Image;
    IPublishedContent newLetter = Model.Newsletter;
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);



}
@Umbraco.RenderMacro("GetBreadcrumb")



<div class="row">
    <div class="offset-md-2 col-12 col-md-6">
        <header>
            <h1>@Title </h1>
            <p>
                @Html.Raw(BodyText)
            </p>
        </header>
    </div>
    <div class="col-12">
        @if (Model.Link != null)
        {
            var link = Model.Link.FirstOrDefault();
            <button onclick="location.href='@link.Link'" class="btn_loadmore">@link.Caption</button>
        }
    </div>
</div>

<div class="row">
    <div class="offset-md-1 col-12 col-md-7">
        @if (img != null)
        {
            <picture>
                <source sizes="auto" class="lazyload" srcset="@Url.GetSrcSetUrls(img,"notFound")" />
                <img src="@img.Url.GetCropUrl()" alt="@img.GetPropertyValue("altText")" />
            </picture>
        }

    </div>
    <div class="col-12 col-md-3">
        @if(Model.Newsletter!=null)
        {            
           Html.RenderPartial("SubscribeToNewsletterPartial", Model.Newsletter);       
        }

    </div>
</div>
