﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Publication>

@{
    Layout = "Master.cshtml";
    var date = Model.Date.ToString("dd. MMMM yyyy");
    var Downloads = Model.Downloads;

    //DeleteIndexEventArgs this 
}
<h2>@Model.PublicationName</h2>

<h3>@Model.Description</h3>

<p>@(date!=null?date:String.Empty)</p>
<br />
<p>@Model.MainText</p>

@if (Downloads!=null)
{
    foreach (var item in Downloads)
    {
        var i = new DownloadLinkItemNC(item);
        <p>@i.Caption</p>

        <a href="@i.File.Url" download >Download</a>

    }
}
