﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<Search>

@{
    Layout = "Master.cshtml";
    var searchQuery = Request.QueryString["query"];
    var currentPage = Model.Content.Name;
    int maxResultShowed = 10;
    int count = 0;
    var maxResultShowedTest = Request.QueryString["show"];
    var filter = Request.QueryString["filter"];
    bool AllowRestricted = Model.Content.AncestorOrSelf(1).GetPropertyValue<IPublishedContent>("globalSettings").GetPropertyValue<bool>("isRestricted");
    if (AllowRestricted != null)
    {
        AllowRestricted = false;
    }

    bool AllowNonRestricted = Model.Content.ShowAllNonRestricted;
    if (!string.IsNullOrWhiteSpace(maxResultShowedTest))
    {
        maxResultShowed = int.Parse(maxResultShowedTest);
    }
}
@*Lopping all result in order to get a count on pagefound*@
@if (!string.IsNullOrEmpty(searchQuery))
{
    foreach (IPublishedContent result in Umbraco.Search(searchQuery))
    {
        bool isRestricted = false;
        if(result.AncestorOrSelf(1).HasValue("globalSettings")){
            if(result.AncestorOrSelf(1).GetPropertyValue<IPublishedContent>("globalSettings").HasValue("isRestricted")){
                isRestricted = result.AncestorOrSelf(1).GetPropertyValue<IPublishedContent>("globalSettings").GetPropertyValue<bool>("isRestricted") != null ? result.AncestorOrSelf(1).GetPropertyValue<IPublishedContent>("globalSettings").GetPropertyValue<bool>("isRestricted") : false;
            }
            
        }
        // Only add restriced pages if it's from a Intranet search
        if (isRestricted ? AllowRestricted : AllowNonRestricted) {
            //if (AllowRestricted ? (!isRestricted ? AllowNonRestricted : false) : !isRestricted) {
            if (result.DocumentTypeAlias == "website" ||
                result.DocumentTypeAlias == "ministerensKalender" ||
                result.DocumentTypeAlias == "subPage" ||
                result.DocumentTypeAlias == "themePage" ||
                result.DocumentTypeAlias == "tema1Modules" ||
                result.DocumentTypeAlias == "newsPage" ||
                (result.DocumentTypeAlias == "articlePage" &&
                 result.Parent.DocumentTypeAlias != "ministerensKalender"))
            {
                count++;
            }
        }
    }
}
<main id="main-content">
    <div class="container-fluid">
        <section class="overview">
            <div class="row">
                <div class="offset-md-1 col-12 col-md-10">
                    <header>
                        <div class="filter">
                            <h1>@Model.Content.Title</h1>
                            <select id="select">
                                @if (string.IsNullOrEmpty(filter))
                                {
                                    <option>@Umbraco.GetDictionaryValue("Split")</option>
                                }
                                else
                                {
                                    <option selected>@filter</option>
                                }
                                @foreach (var tag in Model.Content.Tagsdropbox)
                                {
                                    <option>@tag</option>
                                }
                                <option>@Umbraco.GetDictionaryValue("All")</option>
                            </select>
                        </div>
                        <div class="search-input">
                            <form action="@Request.Url.AbsolutePath" method="GET">
                                <div class="input-group mb-3">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="@Model.Content.PlaceHolder" name="query" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-light" type="submit">
                                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M12.5231 11.3289L16.7532 15.559C17.0822 15.8881 17.0833 16.4205 16.7504 16.7535C16.4198 17.0841 15.879 17.0793 15.5559 16.7562L11.3258 12.5261C8.66893 14.5938 4.82577 14.4067 2.38366 11.9645C-0.261187 9.31969 -0.261187 5.03155 2.38366 2.38671C5.0285 -0.258135 9.31664 -0.258135 11.9615 2.38671C14.4036 4.82883 14.5908 8.67198 12.5231 11.3289ZM10.7643 10.7673C12.7479 8.78368 12.7479 5.56757 10.7643 3.58394C8.78062 1.6003 5.56452 1.6003 3.58089 3.58394C1.59725 5.56757 1.59725 8.78368 3.58089 10.7673C5.56452 12.7509 8.78062 12.7509 10.7643 10.7673Z"
                                                      fill="#19242E" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            @if (!string.IsNullOrEmpty(searchQuery))
                            {
                                <div class="result-text">
                                    <p>@Umbraco.GetDictionaryValue("TextBeforeCount") <b>@count</b> @Umbraco.GetDictionaryValue("TextAfterCount")sider, der matcher din søgning på <b>"@searchQuery"</b></p>
                                </div>
                            }
                        </div>
                    </header>
                    <div class="row">
                        @if (!string.IsNullOrEmpty(searchQuery))
                        {
                            foreach (IPublishedContent result in Umbraco.Search(searchQuery).Take(maxResultShowed))
                            {
                                IPublishedContent currentResult = Umbraco.TypedContent(result.Id);
                                bool isRestricted = result.AncestorOrSelf(1).GetPropertyValue<IPublishedContent>("globalSettings").GetPropertyValue<bool>("isRestricted");
                                if (isRestricted ? AllowRestricted : AllowNonRestricted)
                                {
                                    string tagString = string.Empty;
                                    string tagClass = string.Empty;
                                    var tags = currentResult.GetPropertyValue<IEnumerable<string>>("tag");
                                    if (tags != null)
                                    {
                                        tagString = tags.FirstOrDefault();
                                        if (!string.IsNullOrEmpty(tagString))
                                        {
                                            tagClass = tagString.ToLower().Replace("&", "-");
                                        }
                                    }
                                    //Need to find a clean way to do this same with DocumentTypeAlias
                                    if (!string.IsNullOrWhiteSpace(filter) && tagString == filter ||
                                        !string.IsNullOrWhiteSpace(filter) && "Alle" == filter ||
                                        string.IsNullOrWhiteSpace(filter)
                                        )
                                    {
                                        //if we can move this to a list it whould giv better readability
                                        if (result.DocumentTypeAlias == "website" ||
                                            result.DocumentTypeAlias == "ministerensKalender" ||
                                            result.DocumentTypeAlias == "subPage" ||
                                            result.DocumentTypeAlias == "themePage" ||
                                            result.DocumentTypeAlias == "tema1Modules" ||
                                            result.DocumentTypeAlias == "newsPage" ||
                                            (result.DocumentTypeAlias == "articlePage" &&
                                            result.Parent.DocumentTypeAlias != "ministerensKalender"))
                                        {
                                            <a href="@result.Url" class="col-12 @tagClass">

                                                <div class="row item">
                                                    <div class="col text">
                                                        <h2>
                                                            @result.Name
                                                        </h2>
                                                        <p>
                                                            @if (!string.IsNullOrEmpty(currentResult.GetPropertyValue<string>("description")))
                                                            {
                                                                @currentResult.GetPropertyValue("description")
                                                            }
                                                            @if (!string.IsNullOrEmpty(currentResult.GetPropertyValue<string>("headline")) && string.IsNullOrEmpty(currentResult.GetPropertyValue<string>("description")))
                                                            {
                                                                @currentResult.GetPropertyValue("headline")
                                                            }
                                                        </p>
                                                    </div>
                                                    <div class="col-12 col-md-2">
                                                        @if (!string.IsNullOrWhiteSpace(tagString))
                                                        {
                                                            if (tags.FirstOrDefault() != "Fravælg alle")
                                                            {
                                                                <small class="@tags.FirstOrDefault().ToLower()">@tags.FirstOrDefault()</small>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                    }
                                }

                            }
                            if (maxResultShowed < count)
                            {
                                <div class="col-12">
                                    <form action="/@currentPage/" method="GET">

                                        @{
                                            maxResultShowed += 10;
                                        }
                                        <input type="hidden" class="form-control" value="@searchQuery" name="query" />
                                        <input type="hidden" class="form-control" value="@maxResultShowed" name="show" />

                                        <button id="loadMore" class="btn_loadmore">
                                            @Umbraco.GetDictionaryValue("Loadmore")
                                        </button>
                                    </form>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>


    <form action="/@currentPage/" method="GET" id="filterValue">

        <input type="hidden" class="form-control" value="@searchQuery" name="query" />
        <input type="hidden" class="form-control" value="@count" name="show" />
        <input type="hidden" id="filterSort" class="form-control" value="" name="filter" />

    </form>


    <script>
        $(function () {
            $('select').on('change', function () {
                var filter = $("#select").val();
                $('#filterSort').val(filter);
                filterResult();
            });
        });

        function filterResult() {
            $('#filterValue').submit();
        }
        $(function () {

            console.log("hejsa");
        });


    </script>
</main>
