﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SubPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<main id="main-content">
    @Html.GetGridHtml(Model.Content, "frontPageGrid", "bootstrap3-fluid-SubPage")
</main>
