﻿@using Umbraco.Web.Models;
@inherits UmbracoViewPage
@{
    var root = Model.Site();
    var TopMenuModel = new Website(root);

    RelatedLinks topLink = TopMenuModel.TopLinks;
    RelatedLinks menuLink = TopMenuModel.MenuLinks;
    var CurrentPageUrl = UmbracoContext.Current.PublishedContentRequest.PublishedContent.Url;
    string activeCss = string.Empty;

    string LogoUrl = string.Empty;
    if (TopMenuModel.Logo != null)
    {
        LogoUrl = TopMenuModel.Logo.Url;
    }
    var searchPageName = string.Empty;

    var search = root.Descendants().Where(x => x.DocumentTypeAlias == "search").FirstOrDefault();
    if(search != null)
    {
       searchPageName = search.Name;
    }

}

<nav class="navbar navbar-expand-lg navbar-light" aria-label="Primary navigation">
    <!-- Bypass Block for web accessibility -->
    <a class="bypass-block" href="#main-content">Skip to main content</a>
    <a class="navbar-brand" href="@Model.Site().Url">
        <img src="@LogoUrl" alt="trm logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-menu" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <div class="navbar-toggler-icon"><span></span><span></span><span></span></div>
    </button>

    <div class="collapse navbar-collapse" id="top-menu">
        <div class="top-nav">
            <ul>
                @if (topLink != null)
                {
                    foreach (var link in topLink)
                    {
                        string targetText = link.NewWindow ? "_blank" : null;

                        <li>
                            <a href="@link.Link" target="@targetText">
                                @link.Caption
                            </a>
                        </li>
                    }
                }
            </ul>
            @if (TopMenuModel.LangLink != null)
            {
                var langTid = TopMenuModel.LangLink.FirstOrDefault();
                string targetTextLang = langTid.NewWindow ? "_blank" : null;
                <a class="lang" target="@targetTextLang" href="@langTid.Link">@langTid.Caption</a>
            }
        </div>
        <div class="bottom-nav">
            <ul class="navbar-nav">

                @if (menuLink != null)
                {
                    foreach (var link in menuLink)
                    {
                        string targetText = link.NewWindow ? "_blank" : null;
                        if (CurrentPageUrl == link.Link)
                        {
                            activeCss = "active";
                        }
                        else
                        {
                            activeCss = string.Empty;
                        }
                        <li class="nav-item">
                            <a class="nav-link @activeCss" href="@link.Link" target="@targetText">
                                @link.Caption
                            </a>
                        </li>
                    }
                }
            </ul>
            <img class="search_icon search-js svg" src="/assets/images/icons/loop.svg" alt="search icon">

        </div>



        <div class="search-field search-field-js">
            <form class="form-inline" action="/@searchPageName/" method="GET">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" name="query" class="form-control" id="searchInput" required="" aria-labelledby="menu-search">
                    <label id="menu-search" for="menu-search">Indtast søgeord</label>
                </div>
                <button type="submit" class="btn btn_search">Søg</button>
            </form>
        </div>
    </div>
</nav>