﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Website>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Newtonsoft.Json.Linq
@{
    Layout = "Master.cshtml";

}
    <main class="main-content">
        @Html.GetGridHtml(Model.Content, "frontPageGrid", "bootstrap3-fluid")
    </main>



