footer {
  background-color: $dark-blue;
  min-height: 200px;
  color: $white;
  padding: 50px 0 0 0;
  width: 100%;
  // margin-top: 50px;
  .row {
    margin-bottom: 0;

    .content {

      &__info {
        padding: 20px 0px;

        &:last-child {
          margin-bottom: 1rem;
        }

        p {
          padding: 0 !important;
          margin: 0 !important;
        }
        
      }

      h4,
      p,
      a {
        font-family: $font-sans-serif;
        color: $white;
        font-weight: 400;
        letter-spacing: 0.1em;
        @include media-breakpoint-down(md) {
          line-height: 26px;
          font-size: 12px;
        }
      }
      h4 {
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 14px;
        letter-spacing: 0.1em;
        font-weight: 500;
        color: $medium-grey;
      }
      p {
        line-height: 32px;
        font-size: 13px;
        letter-spacing: 0.1em;
        font-weight: 200;
        padding: 20px 0px;
        @include media-breakpoint-down(md) {
          line-height: 26px;
          font-size: 12px;
        }
        @include media-breakpoint-down(sm) {
          line-height: 32px;
          font-size: 15px;
        }
      }
      .email {
        display: inline-block;
        color: $yellow;
        line-height: 30px;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-decoration: none;
        margin: 20px 0 40px 0;
      }
    }
    .link_liste {
      min-height: unset;
    }
  }
  
  .footer-bottom {
    position: relative;
    margin-top: 40px;
    padding: 20px 0 20px 0;
    @include media-breakpoint-down(sm) {
        .col-md-4 {
            margin-bottom: 20px;
        }
    }
    &:before {
      content: "";
      position: absolute;
      margin: 0 auto;
      top: 0;
      left: 2.5%;
      height: 1px;
      width: 95%;
      border-bottom: 1px solid rgba($dark-white, .3);
    }
    small, a {
      font-family: $font-sans-serif;
      font-size: 11px;
      letter-spacing: 0.1em;
      color: $medium-grey;
    }
    
    .btns_some {
      margin-bottom: 0;
      .btn_some {
        @include media-breakpoint-down(sm) {
            margin: 0 10px;
            &:first-of-type {
                margin-left: 0;
            }
        }
        svg path {
          fill: $medium-grey;
          transition: $transition;	
        }
        &:hover {
          svg path {
            fill: $white;
          }
        }
      }
    }
    
  }
}
