.navbar {
	padding: 10px 30px;
	box-sizing: border-box;
	position: relative;
	background-color: $white;
	box-shadow: $shadow;

	@include media-breakpoint-down(md) {
		padding: 10px 0px;

		&-brand {
			padding: 5px 10px;
		}
		&-toggler {
			margin: 0 10px;
		}
	}

	&-brand {
		display: flex;
		align-items: center;
		
		img {
			width: 100%;
			height: 84px;
			@include media-breakpoint-down(md) {
				height: 64px;
			}
			@include media-breakpoint-down(sm) {
				width: auto;
				height: 44px;
			}
		}
	}

	&-nav {
		margin: 16px 0 8px 0;

		@include media-breakpoint-down(md) {
			margin: 30px 0 10px 90px;
		}

		li {
			a {
				font-family: $font-sans-serif;
				line-height: 22px;
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 700;	
				margin: 0 20px;	
				transition: $transition;	

				@include media-breakpoint-down(sm) {
					line-height: 28px;
					font-size: 16px;
				}
			}
		}
	}

	.navbar-toggler {
		border:none;
		font-size: 0;
		line-height: 0;

		&:focus {
			outline:0;
		}

		.navbar-toggler-icon {
			width: 20px;
			height: 15px;
			position: relative;
			cursor: pointer;
			background-image: none;

			span {
				background: $black;
				position: absolute;
				height: 2px;
				width: 100%;
				left: 0;
		
				&:nth-child(1) {
					top: 0px;
				}

				&:nth-child(2) {
					top: 6px;
				}

				&:nth-child(3) {
					top: 12px;
				}
			}
		}
	}

	.navbar-collapse {
		flex-direction: column;
		align-items: flex-end;
		position: relative;
		z-index: 1000;

		.top-nav {
			display: flex;
			padding: 0 15px 6px 0;
			border-bottom: 1px solid $light-grey;
			align-items: center;

			@include media-breakpoint-only(md) {
				padding: 30px 30px 10px 20px;
			}

			@include media-breakpoint-down(sm) {
				margin: 15px 15px;
				flex-direction: column;
				align-items: flex-start;
			}

			ul {
				display: flex;
				list-style-type: none;
				padding-left: 0;
				margin-bottom: 0;

				@include media-breakpoint-down(sm) {
					flex-direction: column;
				}

				li {
					a {
						font-family: $font-sans-serif;
						margin: 0 50px;
						color: $grey;
						line-height: 21px;
						font-size: 13px;
						text-align: right;

						@include media-breakpoint-down(md) {
							font-size: 14px;
						}

						&:first-of-type {
							margin-left: 0px;
						}

						&:hover {
							color: $dark-grey;
						}
					}

					@include media-breakpoint-down(sm) {
						margin: 5px 0px;
						flex-direction: column;
						align-items: flex-start;
					}
				}
			}

			.lang {
				color: $black;
				line-height: 21px;
				font-size: 12px;
				text-transform: uppercase;

				@include media-breakpoint-down(sm) {
					margin: 5px 0px;
				}
			}
		}

		.bottom-nav {
			display: flex;
			position: relative;
			align-items: center;

			@include media-breakpoint-down(sm) {
				align-items: left;
			}

			ul {
				margin-left: 0;
			}

			.search_icon {
				width: 15px;
				margin: 7px 15px 0 20px;
				cursor: pointer;

				@include media-breakpoint-down(md) {
					display: none;
				}
			}
		}

		.search-field {
			display: none;
			justify-content: flex-end;
			position: absolute;
			right: -30px;
			padding: 15px 15px;
			width: 100vw;
			background-color: $white;
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.02), 4px 8px 20px rgba(0, 0, 0, 0.03);
			
			@include media-breakpoint-down(md) {
				display: flex;
				left: 0;
				width: 100%;
				box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.02);
			}

			form {
				justify-content: flex-end;
				box-sizing: border-box;
				width: 620px;
				margin-right: 15px;
				float: right;
				border-bottom: 1px solid $light-grey;

				@include media-breakpoint-down(md) {
					width: 100%;
				}

				div {
					position: relative;
					width: 85%;

					@include media-breakpoint-down(md) {
						width: 80%;
					}

					input {
						z-index: 10;
						border: none;
						border-radius: 0;
						color: $black;
						line-height: 28px;
						font-size: 16px;
						width: 100%;
						font-weight: 300;
						transition: all .2s;
						background-color: transparent;

						&:required {
							// Removes red border when invalid IE, firefox
							box-shadow: none;
						}

						& + label,
						&:invalid + label {
							opacity: 1;
						}
							
						&:focus {
							outline: none;
							border: none;
							box-shadow: none;
						}

						&:focus + label,
						&:visited + label,
						&:valid + label {
							opacity: 0;
						}
					}
				}

				label {
					z-index: 5;
					position: absolute;
					top: 50%; 
          transform: translate(0, -50%); 
          left: 0;
					color: $grey;
					transition: .25s;
					padding: 0.375rem 0.75rem;
				}
			}
		}
	}
}

//Bypass Block for web accessibility - Skip navigation links
.bypass-block {
	left: -999px;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;

	&:focus,
	&:active {
			top: 50%;
			transform: translate(0, -50%);
			left: auto;
			color: $black;
			background-color: $white;
			width: auto;
			height: auto;
			overflow: auto;
			padding: 10px 50px;
			border: 2px solid $dark-blue;
			text-align: center;
			z-index: 999;
	}
}
