<div class="publications">
  <div class="filter-menu">
    <ul class="filter">
      <li class="btn-filter" data-filter="*">
        <button>Alle</button>
        </li>
      <li class="btn-filter" data-filter=".2019">2019</li>
      <li class="btn-filter" data-filter=".2018">2018</li>
      <li class="btn-filter" data-filter=".2017">2017</li>
    </ul>

    <select title="Search in years">
      <option selected>Alle</option>
      <option>2019</option>
      <option>2018</option>
      <option>2017</option>
    </select>
  </div>

  <div class="publications-slider owl-carousel">
    <a href="#" class="2019">
      <div class="publication">
        <img src="assets/images/demo/publications/1.png" alt="1" />
        <small class="date_tag">07. januar 2019</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2018">
      <div class="publication">
        <img src="assets/images/demo/publications/2.png" alt="1" />
        <small class="date_tag">24. juli 2019</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2018">
      <div class="publication">
        <img src="assets/images/demo/publications/3.png" alt="1" />
        <small class="date_tag">24. juni 2019</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2017">
      <div class="publication">
        <img src="assets/images/demo/publications/4.png" alt="1" />
        <small class="date_tag">28. januar 2019</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2017">
      <div class="publication">
        <img src="assets/images/demo/publications/1.png" alt="1" />
        <small class="date_tag">07. januar 2019</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2017">
      <div class="publication">
        <img src="assets/images/demo/publications/2.png" alt="1" />
        <small class="date_tag">01. April 2019</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2019">
      <div class="publication">
        <img src="assets/images/demo/publications/3.png" alt="1" />
        <small class="date_tag">06. marts 2019</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2019">
      <div class="publication">
        <img src="assets/images/demo/publications/4.png" alt="1" />
        <small class="date_tag">14. december 2018</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2019">
      <div class="publication">
        <img src="assets/images/demo/publications/1.png" alt="1" />
        <small class="date_tag">07. januar 2019</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2018">
      <div class="publication">
        <img src="assets/images/demo/publications/2.png" alt="1" />
        <small class="date_tag">24. juli 2019</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2018">
      <div class="publication">
        <img src="assets/images/demo/publications/3.png" alt="1" />
        <small class="date_tag">24. juni 2019</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2017">
      <div class="publication">
        <img src="assets/images/demo/publications/4.png" alt="1" />
        <small class="date_tag">28. januar 2019</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2017">
      <div class="publication">
        <img src="assets/images/demo/publications/1.png" alt="1" />
        <small class="date_tag">07. januar 2019</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2017">
      <div class="publication">
        <img src="assets/images/demo/publications/2.png" alt="1" />
        <small class="date_tag">01. April 2019</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2019">
      <div class="publication">
        <img src="assets/images/demo/publications/3.png" alt="1" />
        <small class="date_tag">06. marts 2019</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <a href="#" class="2019">
      <div class="publication">
        <img src="assets/images/demo/publications/4.png" alt="1" />
        <small class="date_tag">14. december 2018</small>
        <p class="title">
          Strategi for cyber- og informationssikkerhed 2019-2021 i
          transportsektoren
        </p>
      </div>
    </a>
    <div class="slider-nav">
      <div class="btn_next next">
        <p>Næste</p>
      </div>
      <div class="btn_prev prev">
        <p>Forrige</p>
      </div>
    </div>
  </div>
</div>
