.btn_form_submit {
    width: 100%;
    background-color: $white;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 0;
    margin: 50px 0;
    transition: $transition;

    &:hover {
        background-color: $dark-white;
    }
}