.btn_prev {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    font-weight: 500;
    font-family: $font-sans-serif;
    text-transform: uppercase;
  
    p {
        position: absolute;
        right: 30px;
        font-size: 12px;
        margin: 0 auto;
        line-height: 16px;
    }
  
    &:before {
      position: absolute;
      content: '';
      background-image: url(../images/icons/arrow_right.svg);
      transform: rotate(180deg);
      background-size: 10px 10px;
      height: 10px;
      width: 10px;
      left: 30px;
      top: -5px;
      transition: all 0.2s ease-in-out;
    }
  }
