.btn_link {
    display: inline-block;
    color: $black;
    line-height: 28px;
    font-size: 12px;
    font-weight: 600;
    font-family: $font-sans-serif;
    position: relative;
    padding-left: 20px;

    &:hover {
        color: $black;
        text-decoration: none;
        &:before {
            left: 3px;
        }
    }

    &:before {
        position: absolute;
        content: '';
        background-image: url('../images/icons/arrow_right.svg');
        background-size: 10px 10px;
        height: 10px;
        width: 10px;
        left: 0;
        top: 9px;
        transition: $transition;
    }

}
