.btn_list_link {
    line-height: 26px;
    font-size: 14px;
    color: $black;
    font-weight: 500;
    font-family: $font-sans-serif;
    @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
      
    &:hover {
        color: $black;
        text-decoration: none;

        &:before {
            left: 3px;
        }
    }
    
    &:before{
        position: absolute;
        content: '';
        background-image: url('../images/icons/arrow_link_right.svg');
        background-size: 6px 10px;
        background-repeat: no-repeat;
        height: 10px;
        width: 6px;
        left: 0;
        top: 9px;
        transition: $transition;
    }
}

