.btn_search {
    color: $dark-blue;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;

    &:focus {
        box-shadow: none;
    }
}