.btn_loadmore {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  background: none;
  border: 0;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1.4px;
  line-height: normal;
  overflow: visible;
  padding: 15px 30px;
  margin: 60px auto;
  background-color: $white;
  text-transform: uppercase;
  cursor: pointer;
  transition: $transition;

  &:focus {
    outline: none;
  }
  &:hover {
   box-shadow: $shadow;
  }
}
