.btns_some {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: $font-sans-serif;
    font-weight: 600;
    padding-left: 20px;
    margin-bottom: 30px;
    @include media-breakpoint-down(sm) {
        padding-left: 0;
        margin-bottom: 0;
    }
}
.divider {
    width: 40px;
    height: 1px;
    background-color: $blue;
    margin: 0 20px;
}
.btn_some {
    margin: 0 20px;
    path {
        fill: $black;
        transition: $transition;
    }
    &:hover {
        path {
            fill: $blue;
        } 
    }
}