<div class="box-text bg-dark-blue">
  <h3>Job og karriere</h3>
  <p>Som medarbejder i Transport-, Bygnings- og Boligministeriet er du med til at skabe konkrete, fysiske og synlige resultater, der berører alle mennesker i deres dagligdag.</p>
  <a class="btn_list_link" href="#">Læs mere</a>
</div>
