  <div class="box box-image_large">
    <div class="text">
      <small>Tema</small>
      <h4>Den faste forbindelse over Femern Bælt</h4>
      <p>
        Femern Bælt-forbindelsen vil bestå af en firesporet motorvej med
        nødspor og en dobbeltsporet, elektrificeret jernbane. Forbindelsen
        forventes at kunne åbne for trafik i 2028. Forbindelsen bliver udført
        som en sænketunnel. ne for trafik i 2028. Forbindelsen bliver udført
        som en sænketunnel. ne for trafik i 2028. Forbindelsen bliver udført
        som en sænketunnel. 
      </p>
      <a class="btn_link" href="#">Læs mere</a>
    </div>
    <div class="img">
      <img src="assets/images/demo/highway.png" alt="s-trains" />
    </div>
  </div>
