<a href="#">
    <div class="box box-image">
        <img src="assets/images/demo/box-image.png" alt="s-trains">
        <small class="date_tag">21. januar 2019</small>
        <h3 class="h4">Regeringen vil samle Hovedstadens offentlige transport</h3>
        <p>Som led i regeringens kommende hovedstadsudspil vil regeringen fremtidssikre den offentlige transport i hovedstadsområdet ved at organisere hele den kollektive trafik i én samlet stærk organisation, Hovedstadens Offentlige Transport (HOT).</p>
    </div>
</a>