<div class="image-box">
    <img src="assets/images/demo/man2.png" alt="Man with glasses">
    <div class="content-box">
        <span class="head_title">Transport-, bygnings- og boligminister</span>
        <h3>Ole Birk Olesen</h3>
        <div class="links-group">
            <a class="btn_list_link" href="#">Ministerens cv</a>
            <a class="btn_list_link" href="#">Pressebilleder</a>
        </div>
    </div>
</div>