<div class="info-box row info-box__counter" style="background-image: linear-gradient(0deg, rgba(7, 33, 42, 0.7), rgba(7, 33, 42, 0.7)), url('assets/images/demo/street2.png')">
	<div class="col-md-4">
		<div class="info-box__item">
			<h4><span class="counter" data-count="1450">0</span></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ex ea commodo</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="info-box__item">
			<h4><span class="counter" data-count="85">0</span></h4>
			<p>Ut labore et dolore magna aliqua minim esse veniam laborum</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="info-box__item">
			<h4><span class="counter" data-count="80">0</span>%</h4>
			<p>Excepteur sint occaecat non cupidatat proident</p>
		</div>
	</div>
</div>
