<div class="info-box row" style="background-image: linear-gradient(0deg, rgba(7, 33, 42, 0.7), rgba(7, 33, 42, 0.7)), url('assets/images/demo/street2.png')">

  <div class="col-md-4">
    <div class="info-box__item">
      <img src="./assets/images/icons/quote.svg" alt="trm logo">
    </div>
  </div>
  <div class="col-md-4">
    <div class="info-box__item">
      <img src="./assets/images/icons/quote.svg" alt="trm logo">
    </div>
  </div>
  <div class="col-md-4">
    <div class="info-box__item">
      <img src="./assets/images/icons/quote.svg" alt="trm logo">
    </div>
  </div>

</div>